{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:about -->
            <section id="about" class="section">
                <header>
                    <h1>About Zizoo</h1>
                </header>

                <div class="content">
                    <h3>Zizoo aims to revitalize the boat tourism industry by creating an online community,
                        management and booking site for sea enthusiasts.</h3>
                    <br />
                    <p>Firstly, zizoo is a simple tool for users who want to book boats globally. Removing
                        insider terminology and easing the restrictions placed on the industry by a monopoly
                        of charter companies. In essence adding transparency and democratizing the boat holiday market.</p>
                    <br />
                    <p>Also, zizoo will create a market for boat owners of all classes to monetize their
                        investments, as well as providing powerful management tools for scheduling and maintenance.</p>
                    <br />
                    <p>Finally, zizoo creates a platform for skippers and crew to provide their services
                        and manage their time, as well as continuous growth opportunities, with the support
                        of a global online community. The motization model is simple, Zizoo will act as a safe
                        payment transaction system and will charge the boat owner 5% comision on each
                        transaction that occurs through the site.. </p>
                </div>
            </section>
            <!-- end:about -->

        </div>
    </div>
    <!-- end:content -->

{% endblock %}