{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block title %}FAQ and Help{% endblock%}

{% block body %}
    <header>
        <h1>FAQ and Help</h1>
    </header>
    <article>
        <p class='questions'>
        Q: Are Incrediblue boats available all over the world?
        </p>
        <div class='answers'>
        <p>
        A:  Yes, they are! Incrediblue is the place where you can easily select
        a location wherever in the world, find a boat of your choice and book
        an amazing experience on the sea!
        </p>
        </div>
        <p class='questions'>
        Q: What are the cancellation policies and why do they exist?
        </p>
        <div class='answers'>
        <p>
        A: Cancellation policies protect both boat owners and those who are
        interested in renting a boat. The amount someone will be refunded in
        case of cancellation depends on the cancellation policy chosen by the
        boat owner. Please see our
        <a href="{{ path('ZizooBaseBundle_terms') }}">cancellation policies</a>
        for more information.
        </p>
        </div>
    </article>
{% endblock %}