<!-- start:header -->
<header id="header">

    <!-- start:container -->
    <div class="container clearfix">

        <a href="{{ path('ZizooBaseBundle_homepage') }}" class="logo" title="Back to Homepage">The Sea Awaits <small>Boat Rentals made Easy</small></a><br>
        <nav class="clearfix">
            <ul class="menu clearfix">
                <li><a href="{{ path('ZizooBaseBundle_how') }}" title="How it Works">How it Works</a></li>
                <li><a href="#" id="register_link" title="Register">Register</a></li>
                <li><a href="#" id="login_link" title="Login">Login</a></li>
            </ul>
            <a href="" class="button orange add" title="List Your Boats"><span></span> List Your Boats</a>
        </nav>

    </div>
    <!-- end:container -->

</header>
<!-- end:header -->

