{% extends 'ZizooBaseBundle::layout.html.twig' %}

{% block body %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="span8 hero-unit">
        <h1>Boats!</h1>
        {% for boat in boats %}    
            <h2><a href="{{ path('ZizooBoatBundle_boat_show', { 'id': boat.id }) }}">{{ boat.name }}</a></h2>
        {% else %}
            <p>There are no blog entries for symblog</p>
        {% endfor %}
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    <div class="span4 hero-unit">
         <h1>Search!</h1>
    </div>
    
{% endblock %}
    
{% block row %}    
    <div class="span4">
        <h2>Ride The Waves</h2>
        <p>Renting a boat is your way to a unique vacation.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Rent Your Boat</h2>
        <p>Find out how and why to add your boat.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Be a Skipper</h2>
        <p>Find out how and why to be a skipper.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
{% endblock %}