{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block title %}Privacy Policy{% endblock%}

{% block body %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:policies -->
            <section id="policies" class="section">
                <header>
                    <h1>Privacy Policy</h1>
                </header>

                <div class="content">
                <p>
                    Zizoo Limited ("Us" or "We") provides the Zizoo site and
                    various related services (collectively, the "site") to you, the user,
                    subject to your compliance with all the terms, conditions, and notices
                    contained or referenced herein (the "Privacy Policy"), as well as any other
                    written agreement between us and you. In addition, when using particular
                    services or materials on this site, users shall be subject to any posted
                    rules applicable to such services or materials that may contain terms and
                    conditions in addition to those in these Terms of Service. All such
                    guidelines or rules are hereby incorporated by reference into these Terms
                    of Service.
                </p>
                <br />
                <h3>Website Visitors</h3>
                <p>
                    Like most website operators, Zizoo collects non-personally-identifying
                    information of the sort that web browsers and servers typically make
                    available, such as the browser type, language preference, referring site,
                    and the date and time of each visitor request. Zizoo’s purpose in
                    collecting non-personally identifying information is to better understand
                    how Zizoo’s visitors use its Website. From time to time, Zizoo
                    may release non-personally-identifying information in the aggregate, e.g.
                    by publishing a report on trends in the usage of its Website.
                </p>
                <p>
                    Zizoo also collects potentially personally-identifying information
                    like Internet Protocol (IP) addresses. Zizoo does not use such
                    information to identify its visitors, however, and does not disclose such
                    information, other than under the same circumstances that it uses and
                    discloses personally-identifying information, as described below.
                </p>
                <br />
                <h3>Gathering of Personally-Identifying Information</h3>
                <p>
                    Certain visitors to the Website choose to interact with Zizoo in ways
                    that require Zizoo to gather personally-identifying information. The
                    amount and type of information that Zizoo gathers depends on the nature
                    of the interaction. For example, we ask visitors who sign up for a blog at
                    Zizoo.com to provide a username and email address. Those who engage
                    in transactions with Zizoo are asked to provide additional information,
                    including as necessary the personal and financial information required to
                    process those transactions. In each case, Zizoo collects such
                    information only insofar as is necessary or appropriate to fulfill the
                    purpose of the visitor’s interaction with Zizoo. Zizoo does not
                    disclose personally-identifying information other than as described below.
                    And visitors can always refuse to supply personally-identifying information,
                    with the caveat that it may prevent them from engaging in certain
                    website-related activities.
                </p>
                <p>
                    Zizoo does not collect personally identifiable information from
                    children under the age of 13. If you believe that a child has provided
                    Zizoo with personally identifiable information without the consent of
                    his or her parent or guardian, please contact us at
                    If Zizoo becomes aware that a child under age 13 has provided us with
                    personally identifiable information, we will delete such information.
                </p>
                <br />
                <h3>Aggregated Statistics</h3>
                <p>
                    Zizoo may collect statistics about the behavior of visitors to the
                    Website. For instance, Zizoo may monitor the most popular listings on
                    the Zizoo.com site to help identify spam. Zizoo may display
                    this information publicly or provide it to others. However, Zizoo does
                    not disclose personally-identifying information other than as described below.
                </p>
                <br />
                <h3>Protection of Certain Personally-Identifying Information</h3>
                <p>
                    Zizoo discloses potentially personally-identifying and
                    personally-identifying information only to those of its employees,
                    contractors and affiliated organizations that:
                </p>
                <ol class='roman'>
                    <li>
                        need to know that information in order to process it on Zizoo
                        behalf or to provide services available at the Website, and
                    </li>
                    <li>
                        that have agreed not to disclose it to others.
                    </li>
                </ol>
                <p>
                    Some of those employees, contractors and affiliated organizations may be
                    located outside of your home country; by using the Website, you consent to
                    the transfer of such information to them. In addition, in some cases we
                    may choose to buy or sell assets. In these types of transactions, user
                    information is typically one of the business assets that is transferred.
                    Moreover, if Zizoo or substantially all of its assets were acquired,
                    or in the unlikely event that Zizoo goes out of business or enters
                    bankruptcy, user information would be one of the assets that is
                    transferred or acquired by a third party. You acknowledge that such
                    transfers may occur, and that any acquirer of Zizoo may continue to
                    use your personal and non-personal information only as set forth in this
                    policy. Otherwise, Zizoo will not rent or sell potentially
                    personally-identifying and personally-identifying information to anyone.
                </p>
                <p>
                    Other than to its employees, contractors and affiliated organizations or
                    as described above, Zizoo discloses potentially personally-identifying
                    and personally-identifying information only when required to do so by law,
                    or when Zizoo believes in good faith that disclosure is reasonably
                    necessary to protect the property or rights of Zizoo, third parties
                    or the public at large. If you are a registered user of the Zizoo
                    Website and have supplied your email address, Zizoo may occasionally
                    send you an email to tell you about new features, solicit your feedback,
                    or just keep you up to date with what’s going on with Zizoo and our
                    products. We primarily use our various product blogs to communicate this
                    type of information, so we expect to keep this type of email to a minimum.
                    If you send us a request (for example via a support email or via one of
                    our feedback mechanisms), we reserve the right to publish it in order to
                    help us clarify or respond to your request or to help us support other
                    users. Zizoo takes all measures reasonably necessary to protect
                    against the unauthorized access, use, alteration or destruction of
                    potentially personally-identifying and personally-identifying information.
                </p>
                <p>
                    You should also be aware that if you submit information to “chat rooms,”
                    “forums” or “message boards” such information becomes public information,
                    meaning that you lose any privacy rights you might have with regards to
                    that information. Such disclosures may also increase your chances of
                    receiving unwanted communications.
                </p>
                <p>
                    For users outside the United States, please note that any
                    personally-identifiable information you enter into the Website will be
                    transferred out of your country and into the United States. You consent
                    to such transfer through your use of the Website. You also warrant that
                    you have the right to transfer such information outside your country and
                    into the United States.
                </p>
                <br />
                <h3>Emailing Via an Zizoo Account</h3>
                <p>
                    As part of the service, Zizoo users may communicate with Zizoo
                    organizers through use of the "Contact Host" feature on the site. Where
                    Zizoo Users have selected the option of adding one or more email
                    addresses to an online form, the message they create in the corresponding
                    template will be sent from Zizoo to those email addresses on their
                    behalf. These email addresses will be used only for the purpose of sending
                    the email communication to the addressee.
                </p>
                <p>
                    Your friend may contact us at
                    to request that we remove this information from our database.
                </p>
                <p>
                    You can import contacts from your email account address book to invite them
                    to send you a recommendation. We collect, but do not store, the username and
                    password for the email account you wish to import your contacts from and will
                    only use it for that purpose only.
                </p>
                <br />
                <h3>Links to Third Party Sites</h3>
                <p>
                    This Privacy Policy only applies to information collected by Zizoo.
                    This Privacy Policy does not apply to the practices of companies that
                    Zizoo does not own or control, or employees that Zizoo does not
                    manage. The Website contains links to third party websites. Any information
                    you provide to, or that is collected by, third-party sites may be subject
                    to the privacy policies of those sites, if any. We encourage you to read
                    such privacy policies of any third-party sites you visit. It is the sole
                    responsibility of such third parties to adhere to any applicable restrictions
                    on the disclosure of your personally-identifying information, and Zizoo
                    and its affiliates shall not be liable for wrongful use or disclosure of your
                    personally-identifying information by any third party.
                </p>
                <br />
                <h3>Security</h3>
                <p>
                    All non-personally-identifying information, potentially
                    personally-identifying and personally identifying-information described
                    above is stored on restricted database servers.
                </p>
                <br />
                <h3>Choice/Opt-out</h3>
                <p>
                    If we ever send you information by e-mail concerning new products, services
                    or information that you did not expressly request, we will provide you
                    with an e-mail address by which you may request no further notices.
                </p>
                <br />
                <h3>Cookies</h3>
                <p>
                    A cookie is a string of information that a website stores on a visitor’s
                    computer, and that the visitor’s browser provides to the website each time
                    the visitor returns. Zizoo uses cookies to help Zizoo identify
                    and track visitors, their usage of the Zizoo Website, and their
                    Website access preferences. Zizoo visitors who do not wish to have
                    cookies placed on their computers should set their browsers to refuse
                    cookies before using the Zizoo Website, with the drawback that
                    certain features of Zizoo’s Website may not function properly without
                    the aid of cookies.
                </p>
                <br />
                <h3>Address Book Data</h3>
                <p>
                    Any external address book data (email contacts, etc.) that a user
                    voluntarily gives Zizoo access to will only be used for the
                    described feature (looking up friends, etc.), and will not be stored or
                    repurposed.
                </p>
                <br />
                <h3>Privacy Policy Changes</h3>
                <p>
                    Although most changes are likely to be minor, Zizoo may change its
                    Privacy Policy from time to time, and in Zizoo’s sole discretion.
                    If we do then we’ll notify you by posting the amended policy on the Website
                    or by emailing you of the nature of the modifications along with a link to
                    the modified document so that you can review it. In all cases, use of
                    information we collect now is subject to the Privacy Policy in effect at
                    the time such information is collected.
                </p>
                <br />
                <h3>Review and Access</h3>
                <p>
                    Upon your request, we will provide you with a summary of the information
                    we collect about you. You will have the opportunity to correct, update,
                    modify or delete this information by sending an e-mail to
                    Please note that some information may remain in
                    our records after deletion of your account.
                </p>
                <br />
                <h3>Facebook Connect</h3>
                <p>
                    You can log in to our site using Facebook Connect. This service will
                    authenticate your identity and provide you the option to share certain
                    personal information with us such as your name, email address, and picture
                    to pre-populate your profile. Facebook Connect gives you the option to post
                    information about your activities on this web site to your profile page to
                    share with others within your network. We might also use your address list
                    to let you invite your friends more easily.
                </p>
                <br />
                <h3>Contact Information</h3>
                <p>
                    Except as explicitly noted on this site, the services available through
                    this site are offered by Zizoo Limited, located at Kennedy 12,
                    Kennedy Business Center, 2nd floor, 1087, Nicosia, Cyprus. Our telephone
                    number is +30 24210 76182. If you have any questions regarding this Privacy
                    Policy, please contact us at
                </p>
                </div>
            </section>
            <!-- end:policies -->

        </div>
    </div>
    <!-- end:content -->

{% endblock %}