{% extends 'ZizooCharterBundle::layout.html.twig' %}

{% block body %}

    <form action="{{ path('ZizooCharterBundle_Charter_Profile') }}" method="post" {{ form_enctype(form) }}>
    
        {{ form_widget(form) }}

        <button type="submit">Save</button>
    </form>

{% endblock %}