<div id="availability-setter">
    <form action="{{ path(routes['boat_calendar_route'], {id: boat.id}) }}" method="post" class="form">

        {{ form_widget(form) }}
                
    </form>
</div>