{% set step = app.session.get('step') %}

{% if step != "" %}
    <h3>Step {{ step }}</h3>
{% endif %}

<form class="form" action="{{ path(formAction, { 'id': boat.id }) }}" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    {% if step != "" %}
        <button type="submit">Continue</button>
    {% else %}
        <button type="submit">Save</button>
    {% endif %}

</form>
<script type="text/javascript">
    
    function changeCrew(){
        if ($('#zizoo_boat_crew_optional input[name="zizoo_boat[crew_optional]"]:checked').val()=='1'){
            $('#zizoo_boat_num_crew').attr('disabled', null);
            $('#zizoo_boat_crew_price').attr('disabled', null);
        } else {
            $('#zizoo_boat_num_crew').attr('disabled', 'disabled');
            $('#zizoo_boat_crew_price').attr('disabled', 'disabled');
        }
    }
    
    $(document).ready(function(){
        $('#zizoo_boat_crew_optional input[name="zizoo_boat[crew_optional]"]').change(changeCrew).change();
    });
</script>