<div class="boat_navigation">
    <ul class="nav">
        <li><a href="{{ path('ZizooBoatBundle_edit', { 'id': boat.id }) }}">Overview</a></li>
        <li><a href="{{ path('ZizooBoatBundle_editDetails', { 'id': boat.id }) }}">Details</a></li>
        <li><a href="{{ path('ZizooBoatBundle_editPhotos', { 'id': boat.id }) }}">Photos</a></li>
        <li><a href="{{ path('ZizooBoatBundle_editPrice', { 'id': boat.id }) }}">Price</a></li>
    </ul>
</div>