<table id="availability-legend">
    <tr>
        <td class="key-cell">
            <div class="key" id="availability-legend-available">Day<span class="day_price">Price</span></div>
        </td>
        <td class="label-cell">Available 
       </td>
    </tr>
    <tr>
        <td class="key-cell">
            <div class="key" id="availability-legend-booked">Day<span class="day_price">Price</span></div>
        </td>
        <td class="label-cell">Booked
        </td>
    </tr>
</table>