{% set step = app.session.get('step') %}

{% include 'ZizooBoatBundle:Boat:boat_navigation.html.twig' with { 'boat': boat, 'current_route': routes['details_route'], 'routes': routes }  %}

<div class="content">
    {% if step != "" %}
        <h3>Step {{ step }}</h3>
    {% endif %}

    <form class="form" action="{{ path(routes['details_route'], { 'id': boat.id }) }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        {% if step != "" %}
            <button type="submit">Continue</button>
        {% else %}
            <button type="submit">Save</button>
        {% endif %}
        <input id="override_url" name="override_url" type="hidden" value="" />
    </form>
    <script type="text/javascript">

        

        $(document).ready(function(){
            
        });
    </script>
</div>