{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}

{% block content %}
    {% include 'ZizooBoatBundle:Boat:boat_navigation.html.twig' with { 'boat': boat }  %}

    <div class="content">
        {% render controller('ZizooBoatBundle:Boat:boatFormWidget', { 'boat': boat, 'formAction': formAction }) %}
    </div>
{% endblock %}

