{% set step = app.session.get('step') %}

{% include 'ZizooBoatBundle:Boat:boat_navigation.html.twig' with { 'boat': boat }  %}

<div class="content">
    {% if step != "" %}
        <h3>Step {{ step }}</h3>
    {% endif %}

    <form class="form" action="{{ path(formAction, { 'id': boat.id }) }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        {% if step != "" %}
            <button type="submit">Continue</button>
        {% else %}
            <button type="submit">Save</button>
        {% endif %}

    </form>
    <script type="text/javascript">

        

        $(document).ready(function(){
            
        });
    </script>
</div>