<div id="message_owner_widget">
    <div id="message_owner_widget_inner">
        <p>You must be logged in to message the owner.</p>
    </div>
</div>
   
<style type="text/css">
#zizoo_message_owner_message {
    width: 100%;
    height: 300px;
    resize: vertical;
    -moz-box-sizing: border-box;
}
#message_owner_form table td {
    vertical-align: top;
}
</style>
   
<script type="text/javascript">

   
    function setupMessageOwner(){
        
    }
   
    $(document).ready(function(){
    
        
        
    
    });
</script>