.zizoo_media_container {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 122px;
    height: 82px;
    border: 1px solid #ACACAC;
}

.zizoo_media_container.single {
    height: auto;
    width: 100%;
    border: none;
}

.zizoo_media_container.collection {
    display: block;
    float: left;
    width: auto;
    height: auto;
    margin: 0 10px 10px 0;
    background: #eceded;
    border: 0;
    border-radius: 3px;
}

.dz-message {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 122px;
    height: 82px;
    border: 1px dotted black;
    padding: 10px;
}

.media_div {
    position: relative;
}

.zizoo_media_container.single .media_div_container {
    display: inline-block;
    margin: 0 10px 10px 0;
    float: left;
}


.media_div .zizoo_media_overlay {
    position: absolute;
    width: 120px;
    height: 80px;
    background-color: black;
    opacity: 0.8;
    display: none;
    left: 0;
    top: 0;
}

.media_div .controls {
    z-index: 2;
    position: absolute;
    display: none;
    left: 10px;
    top: 30px;
}


/**
 * Crop
 */

.crop_container {
    margin: 0 0 30px 0;
    border: 0;
    outline: none;
}

.crop_container .jcrop-holder {
    margin: 0 0 10px 0;
    border: 6px solid #eceded;
    border-radius: 5px;
}

.crop_container .crop_image {
    position: absolute;
    top: 0;
    left: 0;
}

.crop_container .save_btn {
    margin: 0 15px 0 0;
}

/**
 * Dropzone
 */

.dropzone {
    clear: both;
    padding: 0;
    background: 0;
    border: 0;
    overflow: hidden;
}

.dropzone .dz-preview {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    background: none;
    border: 0;
}

.dropzone .dz-success-mark,
.dropzone .dz-error-mark {
    display: none !important;
}

.dropzone .dz-preview .dz-error-message {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    height: 68px;
    font-size: 12px;
    text-align: center;
    padding: 13px 10px 0 10px;
}

.dropzone .dz-preview .dz-details {
    width: 100px;
    height: 68px;
    font-size: 12px;
    text-align: center;
    padding: 0;
    background: #eceded;
    border-radius: 3px;
}

.dropzone .dz-preview .dz-details .dz-filename {
    height: auto;
    line-height: 28px;
}

.dropzone .dz-preview .dz-details .dz-size {
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    text-align: center;
}

.dropzone .dz-preview .dz-progress {
    top: 50%;
    height: 4px;
    margin: -2px 0 0 0;
}

.dropzone .dz-preview.dz-processing.dz-error .dz-error-message {
    display: block !important;
}



.zizoo_media_container img {
    display: block;
    width: 100px;
    height: 68px;
    border-radius: 3px;
}

.zizoo_media_container div.non_image {
    display: block;
    width: 100px;
    height: 68px;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px;
    
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.zizoo_media_container:hover div.non_image {
    overflow: visible;
}

.zizoo_media_container br {
    display: none;
}

.zizoo_media_container .media_div .zizoo_media_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 3px;
}

.zizoo_media_container .media_div .controls {
    position: absolute;
    top: 24px;
    left: 25px;
}

.zizoo_media_container .media_div .controls a {
    display: block;
    float: left;
    width: 21px;
    height: 21px;
    font: 0/0 a;
    background: url(images/dropzone.png);
    cursor: pointer;
}

.zizoo_media_container .media_div .controls .crop_btn {
    margin: 0 9px 0 0;
    background-position: 0 0;
}

.zizoo_media_container .media_div .controls .crop_btn:hover {
    background-position: 0 -21px;
}

.zizoo_media_container .media_div .controls .delete_btn {
    background-position: -21px 0;
}

.zizoo_media_container .media_div .controls .delete_btn:hover {
    background-position: -21px -21px;
}

.dz-message {
    display: block;
    float: left;
    width: 100px;
    height: 68px;
    padding: 13px 0 0 0;
    font-size: 12px;
    text-align: center;
    margin: 0 10px 10px 0;
    background: #eceded;
    border: 0;
    border-radius: 3px;
}