{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">
            
            <section id="registration" class="section">
                <header>
                    <h1>Charter Registration</h1>
                </header>
                    
                <div class="content clearfix">
                    <div class="main">
                        <p>Thanks for registering.</p>
                    </div>
                </div>
                    
            </section>
        </div>
    </div>
    <!-- end:content -->
{% endblock %}
