{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <div class="register" id="{% if ajax %}register_inner_ajax{% else %}register_inner{% endif %}">
        <p>Your registration has been submitted. You'll receive a confirmation with an activation link shortly. Please click on this link to complete registration.</p>
        <input type="hidden" value="submitted" id="status" />
    </div>
{% endblock %}


