<!-- start:footer -->
    <footer id="footer">
        <div class="container">
            <div class="top clearfix">
                <a href="/" class="logo ir" title="ZIZOO">ZIZOO</a>
                <ul class="social">
                    <li><a href="" class="facebook" title="Facebook"></a></li>
                    <li><a href="" class="twitter" title="Twitter"></a></li>
                </ul>
            </div>

            <div class="columns clearfix">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Security</a></li>
                </ul>
                <ul>
                    <li><a href="">Bon Voyage Book</a></li>
                    <li><a href="">Upcoming Sales</a></li>
                    <li><a href="">Personal Travel Planning</a></li>
                    <li><a href="">Gift Cards</a></li>
                </ul>
                <ul>
                    <li>Mobile</li>
                    <li>877-JSET-USA / 877-573-8872</li>
                </ul>
            </div>

            <div class="copyright">
                &copy; 2009 - 2013 Zizzo&trade; All rights reserved. Sitemap. Powered by Negra Nigoević &amp; Filip Pomykalo
            </div>
        </div>
    </footer>
<!-- end:footer -->