{% extends 'ZizooMessageBundle:Email:email_base.html.twig' %}

{% block subject %}
You have received a new message from {{sender}}
{% endblock %}

{% block body_html %}
<p>Dear {{recipient}},</p>
<p>{{sender}} has sent you a private </p>
<p>{{test}}</p>
{% endblock %}


