{% extends 'ZizooBaseBundle:Page:index.html.twig' %}

{% block body %}

    <div class="span4 hero-unit">
        {% render 'ZizooBaseBundle:Dashboard:userWidget' %}
    </div>

    <div class="span8 hero-unit">
    <section class="dashboard_page_title">
        <header>
            <h2>{% block dashboard_page_title %}Main Dashboard{% endblock %}</h2>
        </header>
    </section>
    {% block content %}{% endblock %}
    </div>

{% endblock %}