{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}
    
{% block tabs %}
{% include 'ZizooBaseBundle:Dashboard:user_tabs.html.twig' with {'current':'profile'} %}
{% endblock %}

{% block content %}
	<div class="content">
        <h1>Profile</h1>
	    <a href="{{ path('ZizooProfileBundle_Profile_Show', {username: username}) }}">View Profile</a>

    	{{ response|raw }}
    </div>
{% endblock %}
