{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}
    
{% block dashboard_page_title %}Account Settings{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage}}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage}}
        </div>
    {% endfor %}

    {% if form %}
        <form method="post">
            {{ form_widget(form) }}
            <button type="submit">Save</button>
        </form>
    {% else %}
        <p>Please try again later.</p>
    {% endif %}

{% endblock %}