{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}
    
{% block dashboard_page_title %}Account Settings{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage}}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage}}
        </div>
    {% endfor %}

    <div id="credit_card" class="section">
        {% if braintree_form %}
            <form method="post">
                {{ form_widget(braintree_form) }}
                <button type="submit">Save</button>
            </form>
        {% else %}
            <p>Please try again later.</p>
        {% endif %}
    </div>

    <div id="paypal" class="section">
        {% if paypal_form %}
            <form method="post">
                {{ form_widget(paypal_form) }}
                <button type="submit">Save</button>
            </form>
        {% else %}
            <p>Please try again later.</p>
        {% endif %}
    </div>

{% endblock %}