{% block subject %}
Confirm Zizoo new password
{% endblock %}
{% block body_text %}
Somebody (hopefully you) requested a new password.
Please confirm this at: {{link}} . A new password will be emailed to you. You can then log in and change it.
{% endblock %}
{% block body_html %}
<p>Somebody (hopefully you) requested a new password.</p>
<p>Please confirm this <a href="{{link}}">here</a>.</p>
<p>A new password will be emailed to you. You can then log in and change it.</p>
{% endblock %}


