{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <div id="{% if ajax %}facebook_register_inner_ajax{% else %}facebook_register_inner{% endif %}">
        
        <div id="fb_profile">
            {% if fb_id %}
            <img src="https://graph.facebook.com/{{ fb_id }}/picture?redirect=true" />
            {% endif %}
            {% if fb_name %}
            <span>{{ fb_name }}</span>
            {% endif %}
        </div>
        
        <p>Your registration has via Facebook has been successfull. You can now log in at ...</p>
        <input type="hidden" value="success" id="status" />
    </div>
{% endblock %}


