<html>
    <head></head>
    <body>
        <script type="text/javascript">
            {% if ajax %}
                window.opener.{{action}}Callback('{{ url(action) }}');
                window.close();
            {% else %}
                window.opener.location.href = '{{ url(action) }}';
                window.close();
            {% endif %}
        </script>
    </body>
</html>