<html>
    <head></head>
    <body>
        <script type="text/javascript">
            {% if action %}
                window.opener.location.href = '{{ url(action) }}';
                window.close();
            {% endif %}
        </script>
    </body>
</html>