{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <p>Your registration has been submitted. You'll receive a confirmation with an activation link shortly. Please click on this link to complete registration.</p>
{% endblock %}


