{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">
            
            <section id="registration" class="section">
                <header>
                    <h1>Registration Submitted</h1>
                </header>
                    
                <div class="content clearfix">
                    <div class="main submitted" id="{% if ajax %}register_inner_ajax{% else %}register_inner{% endif %}">
                        <p>Your registration has been submitted. You'll receive a confirmation with an activation link shortly. Please click the link in the email to complete the registration.</p>
                        <input type="hidden" value="submitted" id="status" />
                    </div>
                </div>
                    
            </section>
        </div>
    </div>
    <!-- end:content -->
{% endblock %}
