#map {
    width: 100%;
    height: 400px;
    display: none;
}

#map img {
    max-width: none;
}

#map .marker {
    padding-right: 40px;
}

#map .marker .marker_heading {
    font-size: 20px;
}

#map .marker .marker_images {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

#map .marker .marker_images article.image {
    margin-bottom: 5px;
}

#map .marker .marker_images article.image:last-child {
    margin-bottom: 0;
}

#boats .page {
    display: none;
}

#boats .page.current {
    display: block;
}

#boats .boat.booked {
    opacity: 0.5;
}

#zizoo_boat_search_location_chzn .country, #zizoo_boat_search_location .country {
    font-weight: bold;
}

#zizoo_boat_search_location_chzn .sub, #zizoo_boat_search_location .sub {
    padding-left: 15px;
}