{% extends 'ZizooBaseBundle::layout.html.twig' %}

{% block body %}

    <!-- start:content -->
    <div id="content">
        <div class="container clearfix">

            <!-- start:sidebar -->
            <aside id="sidebar" class="left clearfix">
                {% render controller('ZizooBaseBundle:Dashboard:widget', {route: app.request.attributes.get('_route'), showUser: app.request.query.get('show_user')}) %}
            </aside>
            <!-- end:sidebar -->

            <!-- start:dashboard -->
            <div id="dashboard">

                <!-- start:section -->
                <section class="section">
                    {% block tabs %}{% endblock %}
                    {% block content %}{% endblock %}
                    {% block sub_content %}{% endblock %}
                </section>
                <!-- end:section -->
            </div>
            <!-- end:dashboard -->
        </div>
    </div>
    <!-- end:content -->

{% endblock %}