{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}
    
{% block tabs %}
{{ render(controller('ZizooBaseBundle:Dashboard:charterTabs', { 'current': 'payments' })) }}
{% endblock %}

{% block content %}
    <div class="content">
        <h1>My Payments</h1>
        {{ response|raw }}
    </div>
{% endblock %}
