{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}
    
{% block tabs %}
{% include 'ZizooBaseBundle:Dashboard:Charter/charter_tabs.html.twig' with {'current':'payments'} %}
{% endblock %}

{% block content %}
    <div class="content">
        <h1>My Payments</h1>
        {{ response|raw }}
    </div>
{% endblock %}
