{% trans_default_domain "labels" %}

<!-- start:avatar -->
<div class="avatar">
    <figure>
        <img src="images/temp/boats-and-hos-crew.jpg" alt="{{ charter.charterName }}">
        <!-- asset(charter.logo|pictureWebPath) -->
        <figcaption>
            {{ charter.charterName }}
        </figcaption>
    </figure>
    <section class="completeness">
        <h4>Profile Completeness <span class="icon cross"></span></h4>
        <ul class="clearfix">
            <li class="complete"><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
        </ul>
    </section>
    <a href="{{ path('ZizooBoatBundle_Boat_New') }}" class="button orange big" title="List Boats">List Boats</a>
</div>
<!-- end:avatar -->

<!-- start:verifications -->
<section class="verifications">
    <h4>Verifications</h4>
    <ul>
        <li class="phone verificated"><span></span>Phone <span class="icon check black"></span></li>
        <li class="facebook verificated"><span></span>Facebook <span class="icon check white"></span></li>
        <li class="twitter verificated"><span></span>Twitter <span class="icon check white"></span></li>
    </ul>
</section>
<!-- end:verifications -->


<div class="dashboard_navigation">
    <a href="{{ path('ZizooBaseBundle_Dashboard_UserDashboard', {show_user: 'true'}) }}">Switch to user view</a>
</div>
