{# src/Zizoo/AddressBundle/Resources/views/Form/search_index.html.twig #}

{% block form_widget %}
<section class="search">
    <h1>Find a Boat</h1>
    <div class="row">
        {{ form_row(form.location) }}
    </div>

    <div class="row">
        <ul class="clearfix">
            <li>
                {{ form_row(form.reservation_from) }}
            </li>
            <li>
                {{ form_row(form.reservation_to) }}
            </li>
            <li>
                {{ form_row(form.num_guests) }}
            </li>
        </ul>
    </div>

    <div class="row">
        <button type="submit" class="button orange big">Search</button>
    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            $('#zizoo_boat_search_location').chosen();
            
            var clearBtnFnc1 = function(input) {
                    setTimeout(function() {
                        var buttonPane = $( input )
                            .datepicker( "widget" )
                            .find( ".ui-datepicker-buttonpane" );
                        var btn = $( '<button class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" type="button">Clear</button>');
                        btn.unbind("click")  .bind("click", function () {  
                            $.datepicker._clearDate( input ); 
                        });
                        btn.appendTo(buttonPane);
                    }, 1 );
                };

            var clearBtnFnc2 = function(yes, month, inst) {
                    setTimeout(function() {
                        var buttonPane = $( this )
                            .datepicker( "widget" )
                            .find( ".ui-datepicker-buttonpane" );
                        var btn = $( '<button class="ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all" type="button">Clear</button>');
                        btn.unbind("click")  .bind("click", function () {  
                           $.datepicker._clearDate( inst.input ); 
                        });
                        btn.appendTo(buttonPane);
                    }, 1 );
                };

            $( "#zizoo_boat_search_reservation_from" ).datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                numberOfMonths: 1,
                showAnim: 'slideDown',
                dateFormat: 'dd/mm/yy',
                showButtonPanel: true,
                beforeShow: clearBtnFnc1,
                onChangeMonthYear: clearBtnFnc2,
                onClose: function( selectedDate ) {
                    $( "#reservation_to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#zizoo_boat_search_reservation_to" ).datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                numberOfMonths: 1,
                showAnim: 'slideDown',
                dateFormat: 'dd/mm/yy',
                showButtonPanel: true,
                beforeShow: clearBtnFnc1,
                onChangeMonthYear: clearBtnFnc2,
                onClose: function( selectedDate ) {
                    $( "#zizoo_boat_search_reservation_from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
        });
    </script>


</section>
{% endblock %}