<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />

        <!-- start:page title -->
        <title>ZIZOO The Sea Awaits - Boat Rentals made Easy</title>
        <!-- end:page title -->
    </head>
    <body>
        {% block body %}
            Hello dear {{ name }}!
        {% endblock %}
    </body>
</html>