/* 
 *   Document   : Custom
 *   Created on : Oct 27, 2012, 5:51:02 PM
 *   Author     : iBenito
 *   Description:
 *       Purpose of the stylesheet follows.
 */

/* Tabbed Viewing */
#tabs .tab {
    display: none;
}

#tabs .tab.current {
    display: block;
}




#zizoo_boat_search_location_chzn .country, #zizoo_boat_search_location .country {
    font-weight: bold;
}

#zizoo_boat_search_location_chzn .sub, #zizoo_boat_search_location .sub {
    padding-left: 15px;
}