/* ==========================================================================
   Custom
   ========================================================================== */

@media only screen and (max-width: 1000px) {

    /* =================================
       General
       ================================= */

    /**
     * Slideshow
     */

    #slideshow .arrow.prev {
        left: 5px;
    }

    #slideshow .arrow {
        right: 5px;
    }

}


/* ==========================================================================
   Portrait tablet
   ========================================================================== */

@media only screen and (max-width: 980px) {

    /* =================================
       Reusable
       ================================= */

    /**
     * Conainer
     */

    .container {
        width: 748px;
    }

    /**
     * Form block
     */

    .form .block {
        padding-right: 0;
    }

    /**
     * Form row
     */

    .form .row .label .help .tooltip {
        right: auto;
        left: 0;
    }

    .form .row .label .help .tooltip:after {
        right: auto;
        left: 4px;
    }

    /**
     * Form row
     */

    .form .row.textarea {
        margin-right: 0;
    }

    /**
     * Form column
     */

    .form .row.two .column {
        width: 100%;
    }

    .form .row.two .column:first-child {
        margin: 0 0 15px 0;
    }

    .form .row.two .column input[type="text"],
    .form .row.two .column input[type="email"],
    .form .row.two .column input[type="password"],
    .form .row.two .column textarea,
    .form .row.two .column .selectboxit-container {
        left: 0;
    }

    .form .row.two .column:first-child input[type="text"],
    .form .row.two .column:first-child input[type="email"],
    .form .row.two .column:first-child input[type="password"],
    .form .row.two .column:first-child textarea,
    .form .row.two .column:first-child .selectboxit-container {
        right: 0;
    }

    .form .row.two .column .label {
        left: 0;
    }

    /**
     * Form checkboxes
     */

    .form .row .checkboxes li {
        width: 50%;
    }

    /**
     * Tabs
     */

    .tabs {
        padding: 0 0 7px 0;
    }

    .tabs.user li,
    .tabs.charter li {
        width: 33.33%;
        padding-bottom: 5px;
    }

    .tabs li a {
        border-radius: 5px;
    }

    /**
     * Overall
     */

    .overall {
        padding-bottom: 20px;
    }

    .overall .column {
        padding: 0 20px 10px 0;
    }

    .overall .column:first-child {
        float: none;
        padding: 0 0 10px 0;
    }

    /**
     * Messages
     */

    .inbox.excerpt .messages {
        width: auto;
    }

    .thread .messages .messages {
        padding-top: 20px;
        margin-bottom: -20px;
    }

    /**
     * Messages message
     */

    .thread .messages .message {
        padding-bottom: 20px;
    }

    /**
     * Messages message article
     */

    .inbox .messages .message .article {
        padding-right: 50px;
    }

    /**
     * Messages message delete
     */

    .messages .message .icon.delete {
        right: 20px;
    }

    /**
     * Trips
     */

    .trips.boats .trip .box {
        margin: 0 20px 15px 0;
    }

    .trips.boats .trip .info {
        position: relative;
        top: 0;
        left: 0;
    }

    .trips.boats .trip .info .buttons {
        position: relative;
    }


    /* =================================
       General
       ================================= */

    /**
     * Header
     */

    #header {
        text-align: center;
    }

    #header .logo {
        float: none;
    }

    #header br {
        display: block;
    }

    #header nav {
        float: none;
        padding: 22px 0 16px 0;
    }

    #header nav br {
        display: none;
    }

    /**
     * Search
     */

    #search .column {
        padding-right: 10px;
    }

    #search .column.search {
        padding-right: 20px;
    }

    #search .search input[type="text"] {
        width: 200px;
    }

    /**
     * Name
     */

    #name .flag {
        left: 10px;
    }

    #name h1 {
        padding-left: 90px;
    }

    /**
     * Slideshow
     */

    #slideshow .arrow.prev {
        left: 5px;
    }

    #slideshow .arrow {
        right: 5px;
    }

    /**
     * How it works
     */

    #how-it-works-short {
        padding: 50px 10px 40px 10px;
    }

    #how-it-works-short h2 {
        padding-bottom: 30px;
    }

    #how-it-works-short .columns section .background {
        padding: 15px 0 20px 0;
    }

    #how-it-works-short .columns section.book img {
        width: 180px;
        margin-left: 12%;
    }

    #how-it-works-short .columns section.add img,
    #how-it-works-short .columns section.join img {
        display: block;
        float: none;
        margin: 10px auto;
    }

    #how-it-works-short .columns section.book .entry {
        padding-top: 5%;
    }

    #how-it-works-short .columns section.add .entry,
    #how-it-works-short .columns section.join .entry {
        float: none;
        text-align: center;
    }

    #how-it-works-short .columns section h3 {
        padding: 0 0 15px 0;
    }

    #how-it-works-short .columns section h3 br {
        display: none;
    }

    #how-it-works-short .columns section .button {
        height: 50px;
        line-height: 50px;
    }

    /**
     * Inspire me
     */

    #inspire-me .locations {
        padding: 20px 0 20px 20px;
    }

    #inspire-me .locations article {
        width: 344px;
        margin: 0 20px 20px 0;
    }

    #inspire-me .locations article .details {
        padding: 55px 15px 0 15px;
    }

    #inspire-me .locations article .details figure {
        width: 140px;
        height: 97px;
        border-width: 4px;
        overflow: hidden;
    }

    #inspire-me .locations article .details figure img {
        width: auto;
        height: 100%;
        margin: 0 0 0 -25px;
    }

    #inspire-me .locations article .details figure figcaption .icon {
        display: none;
    }

    #inspire-me .locations article .details figure figcaption .seal.hot {
        display: none;
    }

    #inspire-me .locations .more {
        margin-right: 20px;
    }

    /**
     * Content
     */

    #content {
        padding: 30px 0 0 0;
    }

    /**
     * How it works
     */

    #how-it-works {
        width: 648px;
    }

    #how-it-works .steps li {
        padding-left: 240px;
    }

    #how-it-works .steps li .image {
        width: 210px;
    }

    #how-it-works .columns {
        padding-left: 0;
    }

    #how-it-works .expand ul {
        padding-left: 0;
    }

    /**
     * Registration
     */

    #registration .main {
        width: 400px;
    }

    #registration aside {
        width: 250px;
    }

    /**
     * Overview
     */

    #overview {
        width: 430px;
    }

    #overview .media .thumbs {
        margin: 0 44px;
    }

    #overview .columns ul {
        float: none;
        width: 100%;
        padding-right: 0;
    }

    /**
     * Dashboard
     */

    #dashboard {
        width: 530px;
    }

    #dashboard .section .tabs + .content {
        border-radius: 5px;
    }

    /**
     * Dashboard upcoming
     */

    #dashboard .upcoming {
        width: auto;
    }

    /**
     * Dashboard more
     */

    #dashboard .more {
        width: auto;
    }

    /*
     * Dashboard reply
     */

    #dashboard .reply {
        padding-top: 20px;
    }

    /**
     * Dashboard trips
     */

    #dashboard .trips .trip .info .actions li {
        float: none;
        width: 100%;
        text-align: left;
        padding: 0 0 10px 0;
    }

    #dashboard .trips .trip .info .actions li:first-child {
        width: 100%;
    }

    /**
     * Dashboard responsive table
     */

    #dashboard .responsive-table table {
        display: block;
    }

    #dashboard .responsive-table table thead {
        display: block;
        float: left;
    }

    #dashboard .responsive-table table tbody {
        display: block;
        position: relative;
        width: auto;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #dashboard .responsive-table table thead th {
        display: block;
        padding: 5px 25px 5px 5px;
        border-top: 1px solid #fff;
        border-left: 0;
    }

    #dashboard .responsive-table table thead th:first-child {
        border-top: 0;
    }

    #dashboard .responsive-table table thead .sort {
        background-position: 90% center;
    }

    #dashboard .responsive-table table thead .ascending {
        background-image: url(../images/ascending-horizontal.png);
    }

    #dashboard .responsive-table table thead .descending {
        background-image: url(../images/descending-horizontal.png);
    }

    #dashboard .responsive-table table tbody tr {
        display: inline-block;
    }

    #dashboard .responsive-table table tbody td {
        display: block;
    }

    #dashboard .responsive-table table tbody td:first-child {
        border-top: 0;
        border-left: 1px solid #ebecec;
    }

    /**
     * Dashboard availability calendar
     */

    #dashboard #availability-calendar .ui-datepicker.ui-datepicker-inline {
        max-width: 100%;
    }

    /**
     * Results
     */

    #results {
        width: 530px;
    }

    /**
     * View
     */

    #view .left {
        float: none;
        padding: 0 0 10px 0;
    }

    #view .right {
        float: none;
    }

    #view .right .view {
        position: absolute;
        top: 6px;
        right: 15px;
    }

    /**
     * Grid
     */

    #grid .box {
        width: 50%;
    }

    /**
     * List
     */

    #list .box .boat figure {
        width: 25%;
    }

    #list .box .boat .details {
        width: 70%;
    }

    #list .box .boat .details .header li:first-child {
        width: 56%;
    }

    /**
     * Details
     */

    #details .trips .trip .info {
        position: relative;
        float: left;
        left: 0;
        padding: 0 0 0 35px;
    }

    #details .trips .trip .info .overall {
        position: relative;
        bottom: 0;
    }

    #details .include {
        padding-right: 0;
    }

    #details .payment .right {
        padding-top: 233px;
    }

    #details .payment-options .right {
        padding-top: 44px;
    }

}


/* ==========================================================================
   Landscape mobile iPhone5 and Galaxy SIII
   ========================================================================== */

@media only screen and (max-width: 767px) {

    /* =================================
       Reusable
       ================================= */

    /**
     * Conainer
     */
    .container {
        width: auto;
    }

    /**
     * Form block
     */

    .form .block {
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    /**
     * Subnavigation
     */

    .subnavigation {
        float: none;
        width: auto;
        padding: 0 0 5px 0;
        overflow: visible;
    }

    .subnavigation li {
        float: left;
        padding: 0 5px 5px 0;
    }

    .subnavigation li a {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        width: auto;
        height: 27px;
        line-height: 27px;
        padding: 0 20px 0 38px;
        background: -moz-linear-gradient(top, #47c2d2 50%, #45bccb 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#47c2d2), color-stop(50%,#45bccb));
        background: -webkit-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
        background: -o-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
        background: -ms-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
        background: linear-gradient(to bottom, #47c2d2 50%,#45bccb 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47c2d2", endColorstr="#45bccb",GradientType=0);
        -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.3);
        box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.3);
        border-radius: 5px;
        -webkit-transition: background-color 200ms ease, color 200ms ease, box-shadow 200ms ease, text-shadow 200ms ease;
        transition: background-color 200ms ease, color 200ms ease, box-shadow 200ms ease, text-shadow 200ms ease;
    }

    .subnavigation .current a,
    .subnavigation li:hover a {
        background: -moz-linear-gradient(top, #005a69 50%, #005260 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#005a69), color-stop(50%,#005260));
        background: -webkit-linear-gradient(top, #005a69 50%,#005260 50%);
        background: -o-linear-gradient(top, #005a69 50%,#005260 50%);
        background: -ms-linear-gradient(top, #005a69 50%,#005260 50%);
        background: linear-gradient(to bottom, #005a69 50%,#005260 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005a69", endColorstr="#005260",GradientType=0);
        -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
        -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
    }

    /**
     * Filter
     */

    .filter {
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    .filter > form > ul > li {
        padding-right: 10px;
    }

    /**
     * Select subpage
     */

    .select-subpage .dropdown {
        top: 15px;
    }

    /**
     * Trips
     */

    .trips .trip {
        padding-top: 15px;
        margin-bottom: 15px;
    }

    .trips .trip .info {
        top: 15px;
    }

    .pagination .results {
        display: block;
        float: none;
        padding: 0 0 10px 0;
    }


    /* =================================
       General
       ================================= */

    /**
     * Header
     */

    #header nav {
        padding: 8px 0;
    }

    #header nav br {
        display: block;
    }

    #header nav .button {
        margin: 0 5px;
    }

    #header nav .dropdown {
        margin: 0 5px;
    }

    /**
     * Search
     */

    #search .column.search {
        clear: both;
        float: none;
        padding: 0 0 10px 0;
    }

    #search .search input[type="text"] {
        width: 100%;
    }

    /**
     * Name
     */

    #name h1 span {
        display: block;
        padding: 0;
    }

    #name .social {
        padding-top: 13px;
    }

    /**
     * How it works
     */

    #how-it-works-short {
         padding: 30px 10px;
     }

    #how-it-works-short .columns {
        margin: 0 0 20px 0;
    }

    #how-it-works-short .columns section,
    #how-it-works-short .columns section.book {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
    }

    #how-it-works-short .columns section .background {
        padding: 15px;
    }

    #how-it-works-short .columns section.book .entry {
        float: none;
        text-align: center;
        padding: 0;
    }

    #how-it-works-short .columns section.book img {
        display: block;
        float: none;
        width: auto;
        height: 110px;
        margin: 5px auto 15px auto;
    }

    #how-it-works-short .columns section h3,
    #how-it-works-short .columns section.book h3 {
        font-size: 22px;
        line-height: 28px;
        padding: 0 0 10px 0;
    }

    #how-it-works-short .columns section .button {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }

    #how-it-works-short .columns section.book .button {
        width: 180px;
    }

    /**
     * Inspire me
     */

    #inspire-me {
        padding-bottom: 30px;
    }

    #inspire-me h3 {
        margin-bottom: 30px;
    }

    #inspire-me .locations {
        padding: 20px;
    }

    #inspire-me .locations article {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #inspire-me .locations article .details {
        padding: 20% 10% 0 10%;
    }

    #inspire-me .locations article .details figure {
        width: 178px;
        height: auto;
        border-width: 6px;
        overflow: visible;
    }

    #inspire-me .locations article .details figure img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    #inspire-me .locations article .details figure figcaption .icon {
        display: inline-block;
    }

    #inspire-me .locations article .details figure figcaption .seal.hot {
        display: block;
    }

    /**
     * Content section
     */

    #content .section .content h1 {
        font-size: 28px;
        line-height: 34px;
        padding: 10px 0 15px 0;
        margin-bottom: 15px;
    }

    /**
     * How it works
     */

    #how-it-works {
        float: none;
        width: auto;
    }

    #how-it-works h2 {
        font-size: 28px;
        line-height: 34px;
        padding: 10px 0 15px 0;
    }

    #how-it-works .steps li {
        padding: 25px 0 25px 220px;
    }

    #how-it-works .steps li .image {
        width: 190px;
    }

    #how-it-works .columns {
        padding: 20px 0 0 0;
    }

    #how-it-works .columns section {
        float: none;
        padding: 0 0 20px 0;
    }

    #how-it-works .columns.two section {
        width: 100%;
    }

    #how-it-works .columns.three section {
        width: 100%;
    }

    #how-it-works .columns section h4 {
        padding-bottom: 10px;
    }

    #how-it-works .more {
        padding: 20px 0;
    }

    #how-it-works .more h5 {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 20px;
    }

    #how-it-works .expand ul {
        padding: 20px 0;
    }

    #how-it-works .expand ul li {
        padding-bottom: 20px;
    }

    /**
     * Registration
     */

    #registration h2 {
        padding-bottom: 20px;
    }

    #registration .main {
        float: none;
        width: auto;
    }

    #registration .main section:first-child {
        padding: 10px 0;
        margin-bottom: 20px;
    }

    #registration aside {
        float: none;
        width: auto;
        padding: 20px 0 0 0;
    }

    /**
     * Overview
     */

    #overview {
        float: none;
        width: auto;
    }

    #overview .media .thumbs {
        margin: 0 20px;
    }

    #overview .columns ul {
        float: left;
        width: 33%;
        padding-right: 10px;
    }

    /**
     * Dashboard
     */

    #dashboard {
        float: none;
        width: auto;
    }

    #dashboard h2 {
        padding-bottom: 10px;
    }

    /**
     * Dashboard intro
     */

    #dashboard .intro {
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    #content #dashboard .section .content .intro h1 {
        margin: 0;
    }

    /**
     * Dashboard inbox
     */

    #dashboard .inbox.excerpt {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    /*
     * Dashboard reply
     */

    #dashboard .reply {
        padding-left: 0;
    }

    /**
     * Confirmation
     */

    #confirmation h2 {
        font-size: 28px;
        line-height: 34px;
        padding: 10px 0 15px 0;
    }

    #confirmation .entry {
        padding-top: 10px;
        margin-bottom: 20px;
    }

    #confirmation .entry p {
        padding-bottom: 20px;
    }

    /**
     * Sidebar
     */

    #sidebar {
        width: auto;
    }

    #sidebar.left {
        float: none;
    }

    #sidebar.right {
        float: none;
    }

    /**
     * Sidebar summary
     */

    #sidebar .summary ul li {
        float: left;
        padding-right: 10px;
    }

    /**
     * Sidebar similiar
     */

    #sidebar .similiar {
        margin: 0 -15px 0 0;
    }

    #sidebar .similiar .box {
        float: left;
        width: 33.33%;
        padding-right: 15px;
    }

    /**
     * Sidebar summary
     */

     #sidebar .summary {
         margin: 0;
         background: none;
     }

    /**
     * Sidebar avatar
     */

     #sidebar .avatar figure {
         display: none;
     }

    /**
     * Results
     */

    #results {
        float: none;
        width: auto;
    }

    /**
     * All
     */

    #all {
        padding-top: 20px;
    }

    /**
     * Filter
     */

    #filter {
        float: none;
        width: 100%;
    }

    #filter .help .tooltip {
        right: auto;
        left: -4px;
    }

    #filter .help .tooltip:after {
        right: auto;
        left: 4px;
    }

    /**
     * Details
     */

    #details h2 {
        font-size: 28px;
        line-height: 34px;
        padding: 10px 0 15px 0;
    }

    #details .trips .trip .box {
        float: none;
        width: auto;
        margin: 0 0 15px 0;
    }

    #details .trips .trip .info {
        float: none;
        padding-left: 0;
    }

    #details .payment .left {
        float: none;
        width: 100%;
    }

    #details .payment .right {
        float: none;
        width: 100%;
        padding-top: 10px;
    }

    #details .payment-options .right {
        padding-top: 0;
    }

    #details .payment-options .right .information {
        min-height: auto;
        margin: 0 0 10px 0;
    }

    #details .payment-options #bank .right .information {
        min-height: auto;
    }

    #details .payment-options table td {
        font-size: 16px;
        line-height: 26px;
    }

}


/* ==========================================================================
   Landscape mobile
   ========================================================================== */

@media only screen and (max-width: 568px) {

    /* =================================
       Reusable
       ================================= */

    /**
     * Form profile picture
     */
    
    .form .row .profile-placeholder {
        margin-right: 15px;
    }

    .form .row .profile-placeholder img {
        width: 70px;
    }

    /**
     * Form checkboxes
     */

    .form .row .checkboxes li {
        width: 100%;
    }

    /**
     * Form verifications
     */

    .form .row .verifications span {
        float: left;
        width: auto;
        padding-left: 30px;
    }

    .form .row .verifications .button {
        float: right;
        width: 145px;
    }

    /**
     * Content
     */

    .modal .content,
    .section .content {
        padding: 20px;
    }

    .section.alert .content p {
        font: 14px/22px "Asap", Arial;
    }

    .section.blue .content p {
        font: 14px/22px "Asap", Arial;
        padding: 0 0 15px 0;
    }

    /**
     * Select subpage
     */

    .select-subpage .dropdown {
        position: relative;
        top: 0;
        margin: 0 0 20px 0;
    }

    /**
     * Modal
     */

    .modal {
        top: 30px;
        left: 10px;
        right: 10px;
        width: auto;
        margin-left: 0;
    }

    /**
     * Messages message footer
     */

    .messages .message footer .left {
        float: none;
        padding-bottom: 10px;
    }

    .inbox .messages .message footer .left {
        padding-bottom: 5px;
    }

    .thread .messages .message footer .left {
        padding: 0;
    }

    .messages .message footer .right {
        float: none;
    }

    /**
     * Trips
     */

    .trips .trip .box {
        float: none;
        width: auto;
        margin: 0 0 15px 0;
    }

    .trips.boats .trip .box {
        margin: 0 0 15px 0;
    }

    .trips .trip .info {
        position: relative;
        top: 0;
        left: 0;
    }

    .trips .trip .info .buttons {
        position: relative;
    }

    .trips .trip .info .buttons li {
        float: left;
        width: 50%;
        padding: 10px 10px 0 0;
    }


    /* =================================
       General
       ================================= */

    /**
     * Search
     */

    #search .column {
        padding: 0 10px 10px 0;
    }

    #search .column.submit {
        clear: none;
        float: left;
        padding: 0;
    }

    /**
     * Name
     */

    #name h1 {
        float: none;
        font: italic 400 28px/34px "Asap", Arial;
        padding-left: 75px;
    }

    #name .social {
        float: none;
        padding: 0 0 0 75px;
    }

    #name .social li {
        padding: 6px 10px 5px 0;
    }

    /**
     * Slideshow
     */

    #slideshow .arrow {
        display: none;
    }

    #slideshow .search {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #slideshow .search h1 {
        padding-bottom: 20px;
    }

    #slideshow .search .button.white {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #slideshow .search .icon {
        display: none;
    }

    /**
     * Inspire me
     */

    #inspire-me .locations article .details {
        padding-top: 18%;
    }

    #inspire-me .locations article .details .top {
        font-size: 16px;
    }

    #inspire-me .locations article .details figure {
        display: none;
    }

    #inspire-me .locations article .details .book {
        float: none;
        max-width: 100%;
        text-align: center;
    }

    /**
     * How it works
     */

    #how-it-works section header * {
        font-size: 15px;
    }

    #how-it-works h2 span {
        display: block;
    }

    #how-it-works .steps li {
        padding-left: 0;
    }

    #how-it-works .steps li .image {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        line-height: auto;
        margin: 0 auto 15px 0;
    }

    /**
     * Registration
     */

    #registration aside .steps li {
        padding: 20px 0 20px 120px;
    }

    /**
     * Overview
     */

    #overview .columns ul {
        float: none;
        width: 100%;
        padding-right: 0;
    }

    /**
     * Dashboard earned
     */

    #dashboard .earned {
        padding: 20px;
    }

    /**
     * Sidebar similiar
     */

    #sidebar .similiar .box {
        width: 50%;
    }

    #view .right .show > li {
        float: none;
    }

    #view .right .show > li:first-child {
        padding: 0 0 10px 0;
    }

    /**
     * Grid
     */

    #grid {
        margin-right: 0;
    }

    #grid .box {
        float: none;
        width: 100%;
        padding: 0 0 10px 0;
    }

    /**
     * List
     */

    #list .box .boat {
        padding: 6px;
    }

    #list .box .boat figure {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }

    #list .box .boat .details {
        float: none;
        width: 100%;
        padding: 0 10px 5px 10px;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #list .box .boat .details .header {
        padding: 0 0 5px 0;
    }

    #list .box .boat .details .header li:first-child {
        width: 100%;
        padding: 0;
    }

    /**
     * Details
     */

    #details .trip-table .column {
        float: none;
        width: 100%;
    }

    #details .trip-table .column:first-child {
        float: none;
    }

    #details .trip-table .column .table {
        padding-top: 10px;
        margin-bottom: 10px;
    }

    #details .trip-table .column .table:first-child {
        padding-top: 10px;
        border-top: 1px solid #000;
    }

    #details .trip-table .column:first-child .table:first-child {
        padding-top: 0;
        border: 0;
    }

    #details .payment-options {
        padding: 20px 20px 10px 20px;
    }
    
    #details .book-it {
        width: 100%;
    }

    /**
     * Footer
     */

    #footer .columns {
        padding-bottom: 20px;
    }

    #footer .columns ul {
        width: 50%;
        padding-bottom: 20px;
    }

}


/* ==========================================================================
   Portrait mobile
   ========================================================================== */

@media only screen and (max-width: 479px) {

    /* =================================
       Reusable
       ================================= */

    /**
     * Content
     */

    .modal .content,
    .section .content {
        padding: 10px;
    }

    /**
     * Tabs
     */

    .tabs.user li {
        width: 50%;
    }

    .tabs.charter.edit li {
        width: 50%;
    }

    /**
     * Subnavigation
     */

    .subnavigation li a {
        padding-left: 20px;
    }

    .subnavigation li a span {
        display: none;
    }

    /**
     * Overall
     */

    .overall {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    /**
     * Messages message article
     */

    .inbox .messages .message .article {
        padding-right: 40px;
    }

    /**
     * Messages message trip
     */

    .messages .message .trip img {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }

    /**
     * Messages message delete
     */

    .messages .message .icon.delete {
        right: 15px;
    }

    /**
     * Pagination
     */

    .pagination {
        text-align: center;
    }

    .pagination ol {
        padding: 0 10px;
    }

    .pagination ol li {
        padding: 0 3px;
    }


    /* =================================
       General
       ================================= */

    /**
     * Header
     */

    #header .logo {
        width: 192px;
        height: 45px;
        font: 0/0 a;
        padding: 0;
    }

    #header .logo small {
        font: 0/0 a;
    }

    /**
     * Slideshow
     */

    #slideshow {
        height: 400px;
    }

    #slideshow > .container {
        padding-top: 20px;
    }

    /**
     * How it works
     */

    #how-it-works-short {
        padding: 30px 10px;
    }

    #how-it-works-short h2 {
        padding-bottom: 20px;
    }

    #how-it-works-short .columns section {
        margin: 10px 0 0 0;
    }

    #how-it-works-short .columns section.book {
        margin: 0;
    }

    #how-it-works-short .columns section img {
        height: 90px;
    }

    #how-it-works-short .columns section.book img {
        height: 90px;
    }

    #how-it-works-short .columns section h3,
    #how-it-works-short .columns section.book h3 {
        font-size: 20px;
        line-height: 26px;
    }

    #how-it-works-short p {
        width: 100%;
        padding: 20px 0 0 0;
    }

    /**
     * Inspire me
     */

    #inspire-me .locations {
        padding: 10px;
    }

    #inspire-me .locations article {
        margin-bottom: 10px;
    }

    #inspire-me .locations article .details {
        padding-top: 22%;
    }

    #inspire-me .locations article .details .top {
        font-size: 14px;
    }

    #inspire-me .locations article .details .book h5 {
        display: none;
    }

    #inspire-me .locations .more {
        padding-top: 10px;
        margin-right: 10px;
    }

    /**
     * Dashboard upcoming
     */

    #dashboard .upcoming .background img {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }

    /**
     * Dashboard
     */

    #dashboard .earned {
        text-align: center;
    }

    #dashboard .earned .left {
        float: none;
        padding-bottom: 5px;
    }

    #dashboard .earned .right {
        float: none;
        display: inline-block;
        margin-top: 5px;
    }

    /**
     * Dashboard earned
     */

    #dashboard .earned {
        padding: 10px;
    }

    /**
     * Dashboard availability calendar
     */

    #dashboard #availability-calendar .ui-datepicker td a.ui-state-default,
    #dashboard #availability-calendar .ui-datepicker td span.day_available_default,
    #dashboard #availability-calendar .ui-datepicker td span.day_available,
    #dashboard #availability-calendar .ui-datepicker td span.day_reserved {
        min-height: 33px;
        font-size: 10px;
        padding: 2px;
        border-width: 1px;
    }

    #dashboard #availability-calendar .ui-datepicker td .day_price {
        left: 1px;
        bottom: 2px;
        font-weight: 400;
    }

    /**
     * Sidebar similiar
     */

    #sidebar .similiar {
        margin-right: 0;
    }

    #sidebar .similiar .box {
        float: none;
        width: 100%;
        padding-right: 0;
    }

    /**
     * Details
     */

    #details .payment-options {
        padding: 15px 10px 5px 10px;
    }

    /**
     * Footer
     */

    #footer .columns {
        padding-bottom: 10px;
    }

    #footer .columns ul {
        width: 100%;
        padding-bottom: 10px;
    }

    #footer .columns ul li:first-child {
        padding-top: 10px;
    }

}