/* ==========================================================================
   Reusable
   ========================================================================== */

/**
 * Container
 */

.container {
    width: 950px;
    padding: 0 10px;
    margin: 0 auto;
}

/**
 * Bar
 */

.bar {
    padding: 15px 0;
    margin: 20px 0 0 0;
    background: -moz-linear-gradient(top, #4d4d4d 50%, #484848 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#4d4d4d), color-stop(50%,#484848));
    background: -webkit-linear-gradient(top, #4d4d4d 50%,#484848 50%);
    background: -o-linear-gradient(top, #4d4d4d 50%,#484848 50%);
    background: -ms-linear-gradient(top, #4d4d4d 50%,#484848 50%);
    background: linear-gradient(to bottom, #4d4d4d 50%,#484848 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#484848',GradientType=0);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

/**
 * Social
 */

.social {
    float: right;
}

.social li {
    float: left;
    padding: 6px 0 0 10px;
}

.social li a {
    display: block;
    width: 22px;
    height: 22px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}

.social li a:hover {
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
}


/* ==========================================================================
   Buttons
   ========================================================================== */

/**
 * Default
 */

.button {
    display: inline-block;
    height: 40px;
    font: italic 14px/40px 'Asap', Arial;
    vertical-align: top;
    padding: 0 30px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.3);
    border: 0;
    border-radius: 5px;
    -webkit-transition: background-color 200ms ease, color 200ms ease, box-shadow 200ms ease, text-shadow 200ms ease;
    transition: background-color 200ms ease, color 200ms ease, box-shadow 200ms ease, text-shadow 200ms ease;
}

.button:hover {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.5);
}

/**
 * Button sizes
 */

.button.add {
    height: 30px;
    line-height: 30px;
}

.button.small {
    height: 26px;
    line-height: 26px;
}

.button.big {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 0;
}

/**
 * Button colors
 */

.button.orange {
    font-weight: 700;
    text-shadow: 1px 1px 1px #f27915;
    color: #fff;
    background: -moz-linear-gradient(top, #ff9922 50%, #f29120 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ff9922), color-stop(50%,#f29120));
    background: -webkit-linear-gradient(top, #ff9922 50%,#f29120 50%);
    background: -o-linear-gradient(top, #ff9922 50%,#f29120 50%);
    background: -ms-linear-gradient(top, #ff9922 50%,#f29120 50%);
    background: linear-gradient(to bottom, #ff9922 50%,#f29120 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9922', endColorstr='#f29120',GradientType=0);
}

.button.orange:hover {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    color: #885213;
    background: -moz-linear-gradient(top, #e5891f 50%, #d9821d 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e5891f), color-stop(50%,#d9821d));
    background: -webkit-linear-gradient(top, #e5891f 50%,#d9821d 50%);
    background: -o-linear-gradient(top, #e5891f 50%,#d9821d 50%);
    background: -ms-linear-gradient(top, #e5891f 50%,#d9821d 50%);
    background: linear-gradient(to bottom, #e5891f 50%,#d9821d 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5891f', endColorstr='#d9821d',GradientType=0);
}

.button.blue {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #fff;
    background: -moz-linear-gradient(top, #47c2d2 50%, #45bccb 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#47c2d2), color-stop(50%,#45bccb));
    background: -webkit-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
    background: -o-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
    background: -ms-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
    background: linear-gradient(to bottom, #47c2d2 50%,#45bccb 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c2d2', endColorstr='#45bccb',GradientType=0);
}

.button.blue:hover {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    color: #005a69;
    background: -moz-linear-gradient(top, #40aebd 50%, #3ca5b3 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#40aebd), color-stop(50%,#3ca5b3));
    background: -webkit-linear-gradient(top, #40aebd 50%,#3ca5b3 50%);
    background: -o-linear-gradient(top, #40aebd 50%,#3ca5b3 50%);
    background: -ms-linear-gradient(top, #40aebd 50%,#3ca5b3 50%);
    background: linear-gradient(to bottom, #40aebd 50%,#3ca5b3 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40aebd', endColorstr='#3ca5b3',GradientType=0);
}

.button.white {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    color: #000;
    background: -moz-linear-gradient(top, #ffffff 50%, #f2f2f2 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(50%,#f2f2f2));
    background: -webkit-linear-gradient(top, #ffffff 50%,#f2f2f2 50%);
    background: -o-linear-gradient(top, #ffffff 50%,#f2f2f2 50%);
    background: -ms-linear-gradient(top, #ffffff 50%,#f2f2f2 50%);
    background: linear-gradient(to bottom, #ffffff 50%,#f2f2f2 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0);
}

.button.white:hover {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    background: -moz-linear-gradient(top, #e1e2e2 50%, #d6d6d6 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e1e2e2), color-stop(50%,#d6d6d6));
    background: -webkit-linear-gradient(top, #e1e2e2 50%,#d6d6d6 50%);
    background: -o-linear-gradient(top, #e1e2e2 50%,#d6d6d6 50%);
    background: -ms-linear-gradient(top, #e1e2e2 50%,#d6d6d6 50%);
    background: linear-gradient(to bottom, #e1e2e2 50%,#d6d6d6 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e2e2', endColorstr='#d6d6d6',GradientType=0);
}

.button.gray {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    color: #000;
    background: -moz-linear-gradient(top, #ebecec 50%, #dfe0e0 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ebecec), color-stop(50%,#dfe0e0));
    background: -webkit-linear-gradient(top, #ebecec 50%,#dfe0e0 50%);
    background: -o-linear-gradient(top, #ebecec 50%,#dfe0e0 50%);
    background: -ms-linear-gradient(top, #ebecec 50%,#dfe0e0 50%);
    background: linear-gradient(to bottom, #ebecec 50%,#dfe0e0 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebecec', endColorstr='#dfe0e0',GradientType=0);
}

.button.gray:hover {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    background: -moz-linear-gradient(top, #d3d4d4 50%, #c8c9c9 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#d3d4d4), color-stop(50%,#c8c9c9));
    background: -webkit-linear-gradient(top, #d3d4d4 50%,#c8c9c9 50%);
    background: -o-linear-gradient(top, #d3d4d4 50%,#c8c9c9 50%);
    background: -ms-linear-gradient(top, #d3d4d4 50%,#c8c9c9 50%);
    background: linear-gradient(to bottom, #d3d4d4 50%,#c8c9c9 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d4d4', endColorstr='#c8c9c9',GradientType=0);
}

.button.facebook {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #fff;
    background: -moz-linear-gradient(top, #3a5897 50%, #344f88 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#3a5897), color-stop(50%,#344f88));
    background: -webkit-linear-gradient(top, #3a5897 50%,#344f88 50%);
    background: -o-linear-gradient(top, #3a5897 50%,#344f88 50%);
    background: -ms-linear-gradient(top, #3a5897 50%,#344f88 50%);
    background: linear-gradient(to bottom, #3a5897 50%,#344f88 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5897', endColorstr='#344f88',GradientType=0);
}

.button.facebook:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: -moz-linear-gradient(top, #344f88 50%, #314b80 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#344f88), color-stop(50%,#314b80));
    background: -webkit-linear-gradient(top, #344f88 50%,#314b80 50%);
    background: -o-linear-gradient(top, #344f88 50%,#314b80 50%);
    background: -ms-linear-gradient(top, #344f88 50%,#314b80 50%);
    background: linear-gradient(to bottom, #344f88 50%,#314b80 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#344f88', endColorstr='#314b80',GradientType=0);
}


/* ==========================================================================
   Form
   ========================================================================== */

/**
 * Form block
 */

.form .block {
    padding: 0 120px 15px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #ebecec;
}

/**
 * Form row
 */

.form .row {
    position: relative;
    min-height: 36px;
    margin: 15px 0 0 0;
}


.form .row:first-child {
    margin-top: 0;
}

.form .row:last-child {
    margin-bottom: 15px;
}

.form .row.right {
    text-align: right;
}

.form .row.center {
    text-align: center;
}

.form .row label {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    font: italic 14px/36px 'Asap', Arial;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #fff;
    padding: 0 0 0 10px;
    background: #4d4d4d;
    border-radius: 5px 0 0 5px;
    z-index: 1002;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form .row .row label {
    border-radius:0;
}

.form .row label span {
    display: block;
    float: left;
    width: 26px;
    height: 36px;
    margin: 0 10px 0 0;
    background-repeat: no-repeat;
    background-position: right center;
}

.form .row label.choice, .form .row label.checkbox {
    position: static;
    width: auto;
    background: none;
    color: #222222;
}

.form .row label.choice .icon, .form .row label.checkbox .icon {
    display: none;
}

.form .row label.first_name .icon {
    background-image: url(../images/label/name.png);
}

.form .row label.last_name .icon {
    background-image: url(../images/label/surname.png);
}

.form .row label.email .icon {
    background-image: url(../images/label/email.png);
}

.form .row label.password .icon {
    background-image: url(../images/label/password.png);
}

.form .row label.confirm .icon {
    background-image: url(../images/label/password.png);
}

.form .row label.charter_name .icon {
    background-image: url(../images/label/charter.png);
}

.form .row label.location .icon {
    background-image: url(../images/label/location.png);
}

.form .row label.phone .icon {
    background-image: url(../images/label/phone.png);
}

.form .row .row-content {
    margin-left: 140px;
    z-index: 1001;
}

.form .row .row-content.choice, .form .row .row-content.checkbox, .form .row .row-content.no-margin {
    margin-left: 0;
}

.form .row input[type='text'],
.form .row input[type='email'],
.form .row input[type='password'] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font: italic 14px/36px 'Asap', Arial;
    text-overflow: ellipsis;
    color: #000;
    padding: 0 15px 0 155px;
    background: #ebebeb;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.form .row_errors_container {
    background: url("../images/error-arrow.png") no-repeat scroll 5% 1px transparent;
    padding: 10px 0 0;
}

.form .general_errors .row_errors_container {
    background: none;
    padding: 0;
}

.form .row_errors {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    font-weight: bold;
    
    
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.form .row select {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font: italic 14px/36px 'Asap', Arial;
    text-overflow: ellipsis;
    color: #000;
    padding: 0 0 0 155px;
    background: #ebebeb;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

/**
 * Form column
 */

.form .column {
    float: left;
}

/**
 * Checkbox, radio
 */

.form .row .ui-helper-hidden-accessible {
    display: none;
}

.form .row .ui-checkbox {
    font-style: italic;
    color: #959595;
}

.form .row .ui-checkbox-checked {
    color: #000;
}

.form .row span.ui-checkbox {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;
    margin: 0 3px 0 0;
    background: url(../images/checkbox.png) 0 0;
}

.form .row span.ui-checkbox.ui-checkbox-checked {
    background-position: 0 -14px;
}


/* ==========================================================================
   Icons
   ========================================================================== */

/**
 * Icon
 */

.icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.icon.calendar {
    width: 25px;
    height: 24px;
}

.icon.calendar.black {
    background: url(../images/icon/calendar-black.png);
}

.icon.calendar.white {
    background: url(../images/icon/calendar-white.png);
}

.icon.hash {
    width: 23px;
    height: 24px;
}

.icon.hash.black {
    background: url(../images/icon/hash-black.png);
}

.icon.hash.white {
    background: url(../images/icon/hash-white.png);
}

.icon.location {
    width: 11px;
    height: 15px;
}

.icon.location.white {
    background: url(../images/icon/location-white.png);
}

.icon.location.white.shadow {
    width: 14px;
    height: 20px;
    background: url(../images/icon/location-white-shadow.png);
}

.icon.minus {
    width: 19px;
    height: 15px;
    background: url(../images/icon/minus.png);
}

.icon.plus {
    width: 19px;
    height: 15px;
    background: url(../images/icon/plus.png);
}

.icon.add {
    width: 10px;
    height: 10px;
    background: url(../images/icon/add.png);
}

.icon.suitcase {
    width: 19px;
    height: 15px;
    background: url(../images/icon/suitcase.png);
}

.icon.boat {
    width: 24px;
    height: 13px;
    background: url(../images/icon/boat.png);
}

.icon.sailor {
    width: 15px;
    height: 15px;
    background: url(../images/icon/sailor.png);
}

.icon.photo {
    width: 20px;
    height: 16px;
    background: url(../images/icon/photo.png);
}

.icon.availability {
    width: 17px;
    height: 17px;
    background: url(../images/icon/availability.png);
}

.icon.cross {
    width: 9px;
    height: 9px;
    background: url(../images/icon/cross.png);
}

.icon.check {
    width: 11px;
    height: 9px;
}

.icon.check.black {
    background: url(../images/icon/check-black.png);
}

.icon.check.white {
    background: url(../images/icon/check-white.png);
}

.icon.delete {
    width: 15px;
    height: 15px;
    background: url(../images/icon/delete.png);
}


/* ==========================================================================
   Circle
   ========================================================================== */

/**
 * Circle
 */

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    font: 400 10px/15px 'Asap', Arial;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

/**
 * Circle colors
 */

.circle.red {
    background: #f1665e;
}

.circle.blue {
    background: #47c2d2;
}


/* ==========================================================================
   Seals
   ========================================================================== */

/**
 * Seal
 */

.seal {
    display: block;
}

.seal.hot {
    width: 60px;
    height: 63px;
    background: url(../images/seal-hot.png);
}


/* ==========================================================================
   Subnavigation
   ========================================================================== */

/**
 * Subnavigation
 */

.subnavigation {
    float: left;
    width: 100px;
    padding: 30px 0 0 0;
    overflow: hidden;
}

.subnavigation li {
    position: relative;
    height: 27px;
    padding: 0 0 3px 0;
}

.subnavigation .current a,
.subnavigation li:hover a {
    right: 0;
}

.subnavigation li a {
    display: block;
    position: absolute;
    top: 0;
    right: -62px;
    width: 62px;
    height: 27px;
    font: italic 12px/26px 'Asap', Arial;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #fff;
    padding: 0 0 0 38px;
    background: url(../images/subnavigation.png);
    -webkit-transition: right 200ms ease;
    transition: right 200ms ease;
}

.subnavigation .current a,
.subnavigation li:hover a {
    background-position: 0 -27px;
}

.subnavigation li a .icon {
    position: absolute;
}

.subnavigation li .icon.suitcase {
    top: 6px;
    left: 13px;
    background-position: 0 -15px;
}

.subnavigation .current .icon.suitcase,
.subnavigation li:hover .icon.suitcase {
    background-position: 0 0;
}

.subnavigation li .icon.boat {
    top: 7px;
    left: 11px;
    background-position: 0 -13px;
}

.subnavigation .current .icon.boat,
.subnavigation li:hover .icon.boat {
    background-position: 0 0;
}

.subnavigation li .icon.sailor {
    top: 6px;
    left: 15px;
    background-position: 0 -15px;
}

.subnavigation .current .icon.sailor,
.subnavigation li:hover .icon.sailor {
    background-position: 0 0;
}

.subnavigation li .icon.location.white.shadow {
    top: 4px;
    left: 15px;
    background-position: 0 -20px;
}

.subnavigation .current .icon.location.white.shadow,
.subnavigation li:hover .icon.location.white.shadow {
    background-position: 0 0;
}

.subnavigation li .icon.photo {
    top: 5px;
    left: 12px;
    background-position: 0 -16px;
}

.subnavigation .current .icon.photo,
.subnavigation li:hover .icon.photo {
    background-position: 0 0;
}

.subnavigation li .icon.availability {
    top: 5px;
    left: 14px;
    background-position: 0 -17px;
}

.subnavigation .current .icon.availability,
.subnavigation li:hover .icon.availability {
    background-position: 0 0;
}


/* ==========================================================================
   Global elements
   ========================================================================== */

/**
 * Header
 */

.modal header,
.section header {
    padding: 0 15px;
    background: -moz-linear-gradient(top, #4d4d4d 50%, #474747 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#4d4d4d), color-stop(50%,#474747));
    background: -webkit-linear-gradient(top, #4d4d4d 50%,#474747 50%);
    background: -o-linear-gradient(top, #4d4d4d 50%,#474747 50%);
    background: -ms-linear-gradient(top, #4d4d4d 50%,#474747 50%);
    background: linear-gradient(to bottom, #4d4d4d 50%,#474747 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#474747',GradientType=0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.3);
    border-radius: 5px 5px 0 0;
}

.section.alert header {
    background: -moz-linear-gradient(top, #f1665e 50%, #e9635b 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f1665e), color-stop(50%,#e9635b));
    background: -webkit-linear-gradient(top, #f1665e 50%,#e9635b 50%);
    background: -o-linear-gradient(top, #f1665e 50%,#e9635b 50%);
    background: -ms-linear-gradient(top, #f1665e 50%,#e9635b 50%);
    background: linear-gradient(to bottom, #f1665e 50%,#e9635b 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1665e', endColorstr='#e9635b',GradientType=0);
}

.modal header *,
.section header * {
    font: italic 400 18px/30px 'Asap', Arial;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #fff;
}

.section.alert header * {
    text-shadow: none;
}

/**
 * Content
 */

.modal .content,
.section .content {
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    border-radius: 0 0 5px 5px;
}

.section .content {
    margin: 0 0 30px 0;
}

.section.alert .content p {
    font: 16px/28px 'Asap', Arial;
    color: #f1665e;
}


/* ==========================================================================
   Boats
   ========================================================================== */

/**
 * Box boat
 */

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box .boat {
    display: block;
    font: italic 12px/20px 'Asap', Arial;
    padding: 6px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.box .boat.white {
    background: #fff;
}

.box .boat.gray {
    background: #ebecec;
}

.box .boat figure {
    position: relative;
}

.box .boat figure img {
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 3px;
}

.box .boat figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    background: url(../images/black-70.png);
    border-radius: 3px 3px 0 0;
}

.box .boat figure figcaption .icon {
    float: right;
    margin: 8px 0 0 0;
}

.box .boat .left {
    float: left;
    padding: 0 0 0 10px;
}

.box .boat .right {
    float: right;
    padding: 0 10px 0 0;
}

.box .boat .right strong {
    font-size: 14px;
}


/* ==========================================================================
   Tabs
   ========================================================================== */

/**
 * Tabs
 */

.tabs {
    margin: 0 -4px 0 0;
}

.tabs li {
    float: left;
    padding: 0 3px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs.user li {
    width: 16.66%;
}

.tabs.charter li {
    width: 14.28%;
}

.tabs.boat li {
    width: 25%;
}

.tabs li a {
    display: block;
    font: italic 400 11px/30px 'Asap', Arial;
    color: #fff;
    padding: 0 0 0 7px;
    background: -moz-linear-gradient(top, #4d4d4d 50%, #474747 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#4d4d4d), color-stop(50%,#474747));
    background: -webkit-linear-gradient(top, #4d4d4d 50%,#474747 50%);
    background: -o-linear-gradient(top, #4d4d4d 50%,#474747 50%);
    background: -ms-linear-gradient(top, #4d4d4d 50%,#474747 50%);
    background: linear-gradient(to bottom, #4d4d4d 50%,#474747 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#474747',GradientType=0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4);
    border-radius: 5px 5px 0 0;
}

.tabs li a:hover {
    color: #fff;
    background: -moz-linear-gradient(top, #47c2d2 50%, #44baca 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#47c2d2), color-stop(50%,#44baca));
    background: -webkit-linear-gradient(top, #47c2d2 50%,#44baca 50%);
    background: -o-linear-gradient(top, #47c2d2 50%,#44baca 50%);
    background: -ms-linear-gradient(top, #47c2d2 50%,##44baca 50%);
    background: linear-gradient(to bottom, #47c2d2 50%,#44baca 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c2d2', endColorstr='#44baca',GradientType=0);
}

.tabs .current a,
.tabs .current a:hover {
    color: #000;
    background: -moz-linear-gradient(top, #ffffff 50%, #fafafa 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(50%,#fafafa));
    background: -webkit-linear-gradient(top, #ffffff 50%,#fafafa 50%);
    background: -o-linear-gradient(top, #ffffff 50%,#fafafa 50%);
    background: -ms-linear-gradient(top, #ffffff 50%,#fafafa 50%);
    background: linear-gradient(to bottom, #ffffff 50%,#fafafa 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0);
}

.tabs .icon {
    margin: 0 3px 0 0;
}

.tabs .icon.dashboard {
    top: -1px;
    width: 18px;
    height: 20px;
    background: url(../images/tabs/dashboard.png);
}

.tabs .current .icon.dashboard {
    background-position: 0 -20px;
}

.tabs .icon.message {
    top: -1px;
    width: 16px;
    height: 12px;
    margin-right: 6px;
    background: url(../images/tabs/message.png);
}

.tabs .current .icon.message {
    background-position: 0 -12px;
}

.tabs .icon.profile {
    top: -1px;
    width: 19px;
    height: 18px;
    background: url(../images/tabs/profile.png);
}

.tabs .current .icon.profile {
    background-position: 0 -18px;
}

.tabs .icon.bookings {
    top: -1px;
    width: 17px;
    height: 13px;
    background: url(../images/tabs/bookings.png);
}

.tabs .current .icon.bookings {
    background-position: 0 -13px;
}

.tabs .icon.skills {
    top: -1px;
    width: 17px;
    height: 17px;
    background: url(../images/tabs/skills.png);
}

.tabs .current .icon.skills {
    background-position: 0 -17px;
}

.tabs .icon.boats {
    top: -1px;
    width: 22px;
    height: 11px;
    background: url(../images/tabs/boats.png);
}

.tabs .current .icon.boats {
    background-position: 0 -11px;
}

.tabs .icon.payments {
    top: -1px;
    width: 9px;
    height: 16px;
    background: url(../images/tabs/payments.png);
}

.tabs .current .icon.payments {
    background-position: 0 -16px;
}

.tabs .icon.account {
    top: -1px;
    width: 18px;
    height: 18px;
    background: url(../images/tabs/account.png);
}

.tabs .current .icon.account {
    background-position: 0 -18px;
}

.tabs li .circle {
    position: absolute;
    top: -6px;
    right: -6px;
}


/* ==========================================================================
   Avatar
   ========================================================================== */

/**
 * Avatar
 */

.avatar {
    padding: 0 0 17px 0;
    margin: 0 0 30px 0;
    background: url(../images/sidebar-separator.png) repeat-x left bottom;
}

.avatar figure {
    position: relative;
    margin: 0 0 15px 0;
}

.avatar figure img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.avatar figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    font: italic 400 18px/30px 'Asap', Arial;
    text-overflow: ellipsis;
    color: #fff;
    padding: 0 10px;
    background: url(../images/black-70.png);
    border-radius: 5px 5px 0 0;
}


/* ==========================================================================
   Ratings
   ========================================================================== */

   /**
    * Ratings
    */

.ratings {
    width: 54px;
    height: 10px;
    background: url(../images/ratings.png) 0 0;
}

.ratings.white {
    background: url(../images/ratings-white.png) 0 0;
}

.ratings.big {
    width: 133px;
    height: 24px;
    background: url(../images/ratings-big.png) 0 0;
}

.ratings * {
    display: block;
    height: 10px;
    background: url(../images/ratings.png);
}

.ratings.white * {
    background: url(../images/ratings-white.png);
}

.ratings.big * {
    height: 24px;
    background: url(../images/ratings-big.png);
}

.ratings .r1 {
    width: 10px;
    background-position: 0 -10px;
}

.ratings .r0.r1 {
    background-position: right -20px;
}

.ratings .r2 {
    width: 21px;
    background-position: 0 -10px;
}

.ratings .r1.r2 {
    background-position: right -20px;
}

.ratings .r3 {
    width: 32px;
    background-position: 0 -10px;
}

.ratings .r2.r3 {
    background-position: right -20px;
}

.ratings .r4 {
    width: 43px;
    background-position: 0 -10px;
}

.ratings .r3.r4 {
    background-position: right -20px;
}

.ratings .r5 {
    width: 54px;
    background-position: 0 -10px;
}

.ratings .r4.r5 {
    background-position: right -20px;
}

.ratings.big .r1 {
    width: 25px;
    background-position: 0 -24px;
}

.ratings.big .r0.r1 {
    background-position: right -48px;
}

.ratings.big .r2 {
    width: 52px;
    background-position: 0 -24px;
}

.ratings.big .r1.r2 {
    background-position: right -48px;
}

.ratings.big .r3 {
    width: 79px;
    background-position: 0 -24px;
}

.ratings.big .r2.r3 {
    background-position: right -48px;
}

.ratings.big .r4 {
    width: 106px;
    background-position: 0 -24px;
}

.ratings.big .r3.r4 {
    background-position: right -48px;
}

.ratings.big .r5 {
    width: 133px;
    background-position: 0 -24px;
}

.ratings.big .r4.r5 {
    background-position: right -48px;
}

/**
 * Overall
 */

.overall {
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #ebecec;
}

.tooltip .overall {
    white-space: nowrap;
    padding: 5px;
    margin: 0;
    border: 0;
}

.overall .column {
    float: left;
    font-style: italic;
    padding: 23px 0 10px 20px;
}

.overall .column:first-child {
    font-size: 18px;
    line-height: 26px;
    padding: 0 67px 0 0;
}

.overall .column:first-child .ratings {
    margin: 5px 0 0 0;
}

.overall .row {
    position: relative;
    width: 133px;
    font-style: italic;
    font: italic 14px/14px 'Asap', Arial;
    padding: 5px 0;
}

.overall .row:first-child {
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 12px 0;
    margin: 0 0 10px 0;
    background: url(../images/tooltip-separator.png) repeat-x left bottom;
}

.overall .row .ratings {
    position: absolute;
    top: 8px;
    right: 0;
}

.overall .row:first-child .ratings {
    display: block;
    position: relative;
    top: 0;
    margin: 5px 0 0 0;
}


/* ==========================================================================
   Messagess
   ========================================================================== */

/**
 * Messagess
 */

.inbox .messages {
    margin: -15px 0 0 0;
}

.inbox.excerpt .messages {
    width: 500px;
    margin: 0;
}

.messages .messages {
    padding: 10px 0 0 63px;
    margin: 0 0 -10px 0;
}

.thread .messages .messages {
    padding-top: 30px;
    margin-bottom: -30px;
}

/**
 * Messages message
 */

.reviews .messages .message {
    padding-bottom: 10px;
}

.inbox .messages .message {
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid #ebecec;
}

.inbox .messages .message:first-child {
    border-top: 0;
}

.inbox.excerpt .messages .message {
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 0;
    border-bottom: 1px solid #ebecec;
}

.thread .messages .message {
    padding: 0 0 30px 0;
}

/**
 * Messages message article
 */

.messages .message .article {
    position: relative;
    padding: 0 0 0 63px;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

.inbox .messages .message .article {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 180px 10px 73px;
    border-radius: 5px;
}

.inbox.excerpt .messages .message .article {
    line-height: 22px;
    padding: 5px 5px 5px 68px;
    border-radius: 0;
}

.inbox .messages .message:hover .article {
    background: #ecf9fb;
}

.thread .messages .message .article {
    font-size: 12px;
    line-height: 20px;
}

/**
 * Messages message image
 */

.messages .message .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    font: italic 11px/12px 'Asap', Arial;
    text-align: center;
}

.inbox .messages .message .image {
    top: 10px;
    left: 10px;
}

.inbox.excerpt .messages .message .image {
    top: 5px;
    left: 5px;
}

.messages .message .image img {
    display: block;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

/**
 * Messages message background
 */

.messages .message .background {
    position: relative;
    padding: 5px 15px;
    background: #ebecec;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reviews .messages .message .background {
    padding: 15px;
}

.messages .message .background {
    min-height: 50px;
}

.inbox.excerpt .messages .message .background {
    min-height: 33px;
}

.messages .message.unread .background {
    background: #47c2d2;
}

.messages .message .background:before {
    display: block;
    position: absolute;
    top: 5px;
    left: -7px;
    content: '';
    width: 7px;
    height: 8px;
    background: url(../images/messages-arrow.png);
}

.messages .message.unread .background:before {
    background: url(../images/messages-arrow-unread.png);
}

.messages .message.dark > .article .background:before,
.messages .message.red > .article .background:before,
.messages .message.blue > .article .background:before,
.messages .message.orange > .article .background:before {
    top: 4px;
    width: 9px;
    height: 13px;
}

.messages .message.dark > .article .background:before {
    background: url(../images/messages-arrow-dark.png);
}

.messages .message.red > .article .background:before {
    background: url(../images/messages-arrow-red.png);
}

.messages .message.blue > .article .background:before {
    background: url(../images/messages-arrow-blue.png);
}

.messages .message.orange > .article .background:before {
    background: url(../images/messages-arrow-orange.png);
}

.messages .message .background h2 {
    display: block;
    color: #47c3d3;
}

.messages .message.unread .background h2 {
    color: #000;
}

.reviews .messages .message .background p {
    padding: 0 0 10px 0;
}

.inbox .messages .message.unread .background p {
    color: #fff;
}

.inbox.excerpt .messages .message.unread .background p {
    color: #000;
}

.messages .message .background .description {
    font: italic 400 14px/16px 'Asap', Arial;
    padding: 0 0 5px 0;
}

/**
 * Messages message header
 */

.messages .message header {
    font: italic 400 14px/30px 'Asap', Arial;
    color: #fff;
    margin: -5px -15px 10px -15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.4);
}

.messages .message.red header {
    background: -moz-linear-gradient(top, #f1665e 50%, #e9635b 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f1665e), color-stop(50%,#e9635b));
    background: -webkit-linear-gradient(top, #f1665e 50%,#e9635b 50%);
    background: -o-linear-gradient(top, #f1665e 50%,#e9635b 50%);
    background: -ms-linear-gradient(top, #f1665e 50%,#e9635b 50%);
    background: linear-gradient(to bottom, #f1665e 50%,#e9635b 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1665e', endColorstr='#e9635b',GradientType=0);
}

.messages .message.orange header {
    background: -moz-linear-gradient(top, #ff9922 50%, #f79421 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ff9922), color-stop(50%,#f79421));
    background: -webkit-linear-gradient(top, #ff9922 50%,#f79421 50%);
    background: -o-linear-gradient(top, #ff9922 50%,#f79421 50%);
    background: -ms-linear-gradient(top, #ff9922 50%,#f79421 50%);
    background: linear-gradient(to bottom, #ff9922 50%,#f79421 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9922', endColorstr='#f79421',GradientType=0);
}

.messages .message.blue header {
    background: -moz-linear-gradient(top, #47c2d2 50%, #45bccb 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#47c2d2), color-stop(50%,#45bccb));
    background: -webkit-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
    background: -o-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
    background: -ms-linear-gradient(top, #47c2d2 50%,#45bccb 50%);
    background: linear-gradient(to bottom, #47c2d2 50%,#45bccb 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c2d2', endColorstr='#45bccb',GradientType=0);
}

/**
 * Messages message trip
 */

.messages .message .trip {
    font: 12px/18px 'Asap', Arial;
    color: #969696;
    padding: 0 0 5px 0;
}

.messages .message .trip img {
    display: block;
    float: left;
    margin: 0 20px 0 0;
    border-radius: 5px;
}

.messages .message .trip strong {
    font-style: italic;
}

/**
 * Messages message footer
 */

.messages .message footer {
    font: italic 11px/12px 'Asap', Arial;
}

.inbox .messages .message footer {
    padding: 5px 0 0 0;
}

.inbox.excerpt .messages .message footer {
    padding: 0 0 5px 0;
}

.thread .messages .message footer {
    padding: 5px 0 0 0;
}

.messages .message footer .left {
    float: left;
    font: italic 11px/12px 'Asap', Arial;
}

.messages .message footer .right {
    float: right;
    color: #47c3d3;
}

.messages .message footer .rated {
    position: relative;
    color: #47c3d3;
}

.messages .message footer .rated > .ratings {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}

.messages .message footer .rated .tooltip {
    top: 25px;
    left: -38px;
}

.messages .message footer .rated:hover .tooltip {
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1;
}

.messages .message footer time {
    color: #969696;
}

.messages .message footer .type {
    color: #47c3d3;
}

/**
 * Messages message delete
 */

.messages .message .icon.delete {
    position: absolute;
    top: 50%;
    right: 30px;
    margin: -8px 0 0 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    cursor: pointer;
}

.messages .message:hover .icon.delete {
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1;
}

.messages .message:hover .icon.delete .tooltip {
    top: 25px;
    right: 0;
    min-width: 70px;
    white-space: nowrap;
}

.messages .message:hover .icon.delete:hover .tooltip {
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1;
}


/* ==========================================================================
   Pagination
   ========================================================================== */

/**
 * Pagination
 */

.pagination {
    clear: both;
    font: italic 12px/15px 'Asap', Arial;
    text-align: right;
    padding: 10px 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #ebecec;
}

.pagination a:hover {
    text-decoration: underline;
    color: #47c2d2;
}

.pagination .arrow span {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 10px;
    vertical-align: middle;
    background: url(../images/pagination-arrow.png);
}

.pagination .arrow.prev span {
    margin: 0 5px 0 0;
    background-position: 0 0;
}

.pagination .arrow.prev:hover span {
    background-position: 0 -10px;
}

.pagination .arrow.next span {
    margin: 0 0 0 5px;
    background-position: -8px 0;
}

.pagination .arrow.next:hover span {
    background-position: -8px -10px;
}

.pagination ol {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}

.pagination ol li {
    float: left;
    padding: 0 5px;
}

.pagination ol .current * {
    color: #47c2d2;
}

.pagination ol li a:hover {
    text-decoration: none;
}


/* ==========================================================================
   Modals
   ========================================================================== */

/**
 * Overlay
 */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/black-70.png);
    z-index: 9998;
    cursor: pointer;
}

.button {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.button:hover {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
}

.button.facebook {
    position: relative;
}

.button.facebook span {
    display: block;
    position: absolute;
    top: 6px;
    left: 13px;
    width: 22px;
    height: 27px;
    background: url(../images/button-facebook.png);
}

.table {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    width: 40px;
}

.table-cell:first-child {
    width: auto;
    padding: 0 1px 0 0;
}

.table-cell .button.gray {
    border-radius: 0 5px 5px 0;
}

.table-cell:first-child .button.gray {
    border-radius: 5px 0 0 5px;
}

.table:hover .button.gray {
    background: -moz-linear-gradient(top, #d3d4d4 50%, #c8c9c9 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#d3d4d4), color-stop(50%,#c8c9c9));
    background: -webkit-linear-gradient(top, #d3d4d4 50%,#c8c9c9 50%);
    background: -o-linear-gradient(top, #d3d4d4 50%,#c8c9c9 50%);
    background: -ms-linear-gradient(top, #d3d4d4 50%,#c8c9c9 50%);
    background: linear-gradient(to bottom, #d3d4d4 50%,#c8c9c9 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d4d4', endColorstr='#c8c9c9',GradientType=0);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
}

.table .button.gray span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/button-gray-arrow.png);
}

.table:hover .button.gray span {
    background-position: 0 -12px;
}

.or {
    display: block;
    font: italic 18px/44px 'Asap', Arial;
    text-align: center;
}

.invite {
    color: #969696;
}

.invite:hover {
    color: #47c2d2;
}

.form .row .ui-checkbox {
    font-style: normal;
}

.form .row .ui-checkbox-checked {
    color: #47c2d2;
}

.form .row span.ui-checkbox {
    top: 0;
    width: 10px;
    height: 10px;
    background: url(../images/checkbox-modal.png) 0 0;
}

.form .row span.ui-checkbox.ui-checkbox-checked {
    background-position: 0 -10px;
}

a .icon.add {
    position: relative;
    top: -1px;
    margin: 0 3px 0 0;
}

a:hover .icon.add {
    background-position: 0 -10px;
}

.expand {
    display: none;
    padding: 25px 0 0 0;
    background: url(../images/register-arrow.png) no-repeat 95% 11px;
}

.expand .content {
    border-radius: 5px;
}


/* ==========================================================================
   Tooltips
   ========================================================================== */

/**
 * Tooltip
 */

.tooltip {
    position: absolute;
    font: italic 400 10px/12px 'Asap', Arial;
    text-align: left;
    text-shadow: none;
    color: #fff;
    padding: 5px;
    background: url(../images/black-70.png);
    border-radius: 5px;
    z-index: 999;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.tooltip:after {
    display: block;
    position: absolute;
    top: -7px;
    right: 4px;
    content: '';
    width: 8px;
    height: 7px;
    background: url(../images/tooltip-arrow.png);
}




.ui-dialog.blank  {
    background: none;
    border: none;
}

.ui-dialog.blank .ui-dialog-content {
    padding: 0;
}
