@import url("reusable_zizoo.css");

/**
 * Search
 */

.chzn-search input[type="text"] {
    top: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #000;
    padding: 0 10px 0 35px;
    background: #fff url(../images/magnifier-small.png) no-repeat 10px center;
    border-radius: 20px;
}

/**
 * Slideshow
 */

#zizoo_boat_search_location {
    width: 100%;
}


/* Remove

#slideshow .search ul {
    margin: 0 -10px 0 0;
}

#slideshow .search ul li {
    float: left;
    position: relative;
    width: 33.33%;
    padding: 0 10px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*/

#slideshow .search ul.search_list {
    margin: 0 -10px 0 0;
}

#slideshow .search ul.search_list li {
    float: left;
    position: relative;
    width: 33.33%;
    padding: 0 10px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Dashboard availability calendar
 */

 #dashboard #availability-calendar .ui-datepicker {
    box-shadow: none;
}

/* Remove

#dashboard #availability-calendar .ui-datepicker > .ui-datepicker-header {
    display: inherit;
}

*/

#dashboard #availability-calendar .ui-datepicker > .ui-datepicker-header {
    display: inherit;
}

#dashboard #availability-calendar .ui-datepicker .ui-datepicker-row-break .ui-datepicker-header {
    border: none;
}

/* Remove

#dashboard #availability-calendar .ui-datepicker td a.ui-state-default,
#dashboard #availability-calendar .ui-datepicker td span.day_available_default,
#dashboard #availability-calendar .ui-datepicker td span.day_available,
#dashboard #availability-calendar .ui-datepicker td span.day_reserved {
    display: block;
    position: relative;
    min-height: 40px;
    font: italic 12px/14px "Asap", Arial;
    text-align: left;
    color: #fff;
    padding: 4px;
    background: #47c2d2;
    border: 3px solid #47c2d2;
    -webkit-transition: color 200ms ease, border 200ms ease, background-color 200ms ease;
    transition: color 200ms ease, border 200ms ease, background-color 200ms ease;
}

#dashboard #availability-calendar .ui-datepicker td span.day_available_default,
#dashboard #availability-calendar .ui-datepicker td span.day_available {
    border-color: #005a69;
}

#dashboard #availability-calendar .ui-datepicker td a.day_reserved,
#dashboard #availability-calendar .ui-datepicker td span.day_reserved {
    background: #f1665e;
    border-color: #f1665e;
}

#dashboard #availability-calendar .ui-datepicker td a.day_available_default:hover,
#dashboard #availability-calendar .ui-datepicker td a.day_available:hover {
    border-color: #005a69;
}

*/

#dashboard #availability-calendar .ui-datepicker td .day_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    display: none;
}

#dashboard #availability-calendar .day_price_icon {
    position: absolute;
    top: 0;
    right: 0px;
}

#dashboard #availability-calendar .ui-datepicker-cmd-prev {
    float: left;
    height: auto;
    margin-left: 1%;
    position: static;
    width: 30%;
}

#dashboard #availability-calendar .ui-datepicker-cmd-current, .ui-datepicker-cmd-today {
    float: left;
    text-align: center;
    width: 37%;
}

#dashboard #availability-calendar .ui-datepicker-cmd-next {
    float: right;
    height: auto;
    margin-right: 1%;
    position: static;
    text-align: right;
    width: 30%;
}

#dashboard .content {
    position: relative;
}

#dashboard #availability-sidebar {
    top: 120px;
    right: 30px;
    width: 200px;
    position: absolute;
}

#dashboard #availability-setter {
    font: italic 12px/14px "Asap",Arial;
    margin-bottom: 50px;
}

#dashboard #availability-setter #zizoo_boat_availability-dates {
    margin-bottom: 5px;
}


#dashboard #availability-setter .step 
{
    /*opacity: 0.5;*/
}

#dashboard #availability-setter .step.current {
    opacity: 1;
}

#dashboard #availability-setter #zizoo_boat_availability-dates input {
    width: 100%;
    padding: 0 0 0 0;
    width: 100%;
    -moz-box-sizing: border-box;
    border: 1px solid #EBECEC;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    font: italic 16px/28px "Asap",Arial;
    height: 30px;
    text-align: center;
}

#dashboard #availability-setter #zizoo_boat_availability-type {
    width: 100%;
    margin-bottom: 5px;
}

#dashboard #availability-setter #zizoo_boat_availability-type #typeSelectBoxItText {
    width: 150px;
}

#dashboard #availability-setter .input-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

#dashboard #availability-setter .input-wrap input {
    float: none;
    padding: 0 20px 0 0;
    width: 100%;
    -moz-box-sizing: border-box;
    border: 1px solid #EBECEC;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    font: italic 16px/28px "Asap",Arial;
    height: 30px;
    text-align: center;
}

#dashboard #availability-setter .input-wrap span {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #EBECEC;
    border-radius: 0 5px 5px 0;
    color: #969696;
    font: italic 16px/28px "Asap",Arial;
    height: 28px;
    padding: 0 5px;
    position: absolute;
    right: 1px;
    top: 1px;
}

#dashboard #availability-setter #zizoo_boat_availability-buttons {
    
}

#dashboard #availability-setter #zizoo_boat_availability-buttons button {
    width: 100%;
    margin-bottom: 5px;
}

#dashboard #availability-legend .key {
    background: none repeat scroll 0 0;
    border: 3px solid;
    display: block;
    min-height: 40px;
    min-width: 60px;
    padding: 4px;
    position: relative;
}

#dashboard #availability-legend .key .day_price {
    bottom: 4px;
    font-weight: 700;
    left: 4px;
    padding: 0;
    position: absolute;
    text-align: left;
}

#dashboard #availability-legend .key .day_price_icon {
    position: absolute;
    right: 4px;
    top: 2px;
}

#dashboard #availability-legend #availability-legend-available {
    background-color: #47C2D2;
    border-color: #47C2D2;
    color: #FFFFFF;
}

#dashboard #availability-legend #availability-legend-requested {
    background-color: orange;
    border-color: orange;
    color: #FFFFFF;
}

#dashboard #availability-legend #availability-legend-reserved {
    background-color: #DAA520;
    border-color: #DAA520;
    color: #FFFFFF;
}

#dashboard #availability-legend #availability-legend-booked {
    background-color: red;
    border-color: red;
    color: #FFFFFF;
}

#dashboard #availability-legend #availability-legend-unavailable {
    background-color: #F1665E;
    border-color: #F1665E;
    color: #FFFFFF;
}

/**
 * Sidebar summary
 */

/* Revmove

#sidebar .summary {
    padding: 10px 0 17px 0;
    margin: 0 0 30px 0;
    background: url(../images/sidebar-separator.png) repeat-x left bottom;
}

*/

 #sidebar #booking_widget {
    padding: 10px 0 17px 0;
    margin: 0 0 30px 0;
    background: url(../images/sidebar-separator.png) repeat-x left bottom;
}

/* Remove

#sidebar .summary ul li .field {
    display: inline-block;
    width: 90px;
    height: 20px;
    font: 14px/20px "Asap", Arial;
    color: #000;
    padding: 0 5px;
    background: #ebecec;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

*/

#sidebar .summary ul li .field input {
    display: inline-block;
    width: 90px;
    height: 20px;
    font: 14px/20px "Asap", Arial;
    color: #000;
    padding: 0 5px;
    background: #ebecec;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(255,255,255,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

/**
 * View
 */

 #view {
 	margin: 0 0 30px 0;
 }

 /**
 * All
 */

#all {
    padding: 0;
}

/**
 * Grid
 */

#grid.hidden {
    display: none;
}


/**
 * List
 */

/* Remove

#list {
    display: none;
}

*/

#list.hidden {
    display: none;
}

/**
 * Filter
 */

/* Remove

#filter .form .advanced {
    padding: 17px 0 0 0;
    background: url(../images/sidebar-separator.png) repeat-x left 2px;
}

#filter .form .block {
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #ebecec;
    border-bottom: 0;
}

#filter .form .row {
    min-height: 16px;
    margin: 0 0 5px 0;
}

#filter .form .row .ui-checkbox {
    font-style: normal;
}

#filter .form .row .ui-checkbox-checked {
    color: #47c2d2;
}

#filter .form .row span.ui-checkbox {
    top: 1px;
    width: 10px;
    height: 10px;
    background: url(../images/checkbox-modal.png) 0 0;
}

#filter .form .row span.ui-checkbox.ui-checkbox-checked {
    background-position: 0 -10px;
}

#filter .form .selectboxit-container .selectboxit-text {
    min-width: 30px;
}

#filter .form .slider .input-wrap {
    position: relative;
    float: left;
    width: 40%;
}

#filter .form .slider input[type="text"],
#filter .form .slider input[type="number"] {
    float: left;
    width: 40%;
    height: 17px;
    font: italic 10px/15px "Asap", Arial;
    text-align: center;
    color: #333;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ebecec;
}

#filter .form .slider .input-wrap input[type="text"],
#filter .form .slider .input-wrap input[type="number"] {
    float: none;
    width: 100%;
    padding: 0 20px 0 0;
}

#filter .form .slider .input-wrap span {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 15px;
    font: italic 10px/15px "Asap", Arial;
    color: #969696;
    padding: 0 5px;
    background: #fff;
    border-left: 1px solid #ebecec;
    border-radius: 0 5px 5px 0;
}

#filter .form .slider .to {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    font: 10px/17px "Asap", Arial;
    color: #969696;
}

#filter .form .ui-slider {
    position: relative;
    height: 6px;
    margin: 15px 0 10px 0;
    background: #ebebeb;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    border: 0;
    border-radius: 2px;
}

#filter .form .ui-slider .ui-slider-range {
    position: absolute;
    top: 0;
    height: 100%;
    background: #46c2d2;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    border: 0;
    border-radius: 2px;
    z-index: 1;
}

#filter .form .ui-slider .ui-slider-handle {
    position: absolute;
    top: -2px;
    width: 11px;
    height: 11px;
    margin: 0 0 0 -5px;
    background: #005a69;
    border: 0;
    border-radius: 100%;
    z-index: 2;
}

#filter .form .ui-slider .ui-slider-handle:nth-child(2) {
    background: url(../images/slider-from.png);
}

#filter .form .ui-slider .ui-slider-handle:nth-child(3) {
    background: url(../images/slider-to.png);
}

*/

 .form #filter .advanced {
    padding: 17px 0 0 0;
    background: url(../images/sidebar-separator.png) repeat-x left 2px;
}

.form #filter .block {
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #ebecec;
    border-bottom: 0;
}

.form #filter .row {
    min-height: 16px;
    margin: 0 0 5px 0;
}

.form #filter .row .ui-checkbox {
    font-style: normal;
}

.form #filter .row .ui-checkbox-checked {
    color: #47c2d2;
}

.form #filter .row span.ui-checkbox {
    top: 1px;
    width: 10px;
    height: 10px;
    background: url(../images/checkbox-modal.png) 0 0;
}

.form #filter .row span.ui-checkbox.ui-checkbox-checked {
    background-position: 0 -10px;
}

.form #filter .selectboxit-container .selectboxit-text {
    min-width: 30px;
}

.form #filter .slider .input-wrap {
    position: relative;
    float: left;
    width: 40%;
}

.form #filter .slider input[type="text"],
.form #filter .slider input[type="number"] {
    float: left;
    width: 40%;
    height: 17px;
    font: italic 10px/15px "Asap", Arial;
    text-align: center;
    color: #333;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ebecec;
}

.form #filter .slider .input-wrap input[type="text"],
.form #filter .slider .input-wrap input[type="number"] {
    float: none;
    width: 100%;
    padding: 0 20px 0 0;
}

.form #filter .slider .input-wrap span {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 15px;
    font: italic 10px/15px "Asap", Arial;
    color: #969696;
    padding: 0 5px;
    background: #fff;
    border-left: 1px solid #ebecec;
    border-radius: 0 5px 5px 0;
}

.form #filter .slider .to {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    font: 10px/17px "Asap", Arial;
    color: #969696;
}

.form #filter .ui-slider {
    position: relative;
    height: 6px;
    margin: 15px 0 10px 0;
    background: #ebebeb;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    border: 0;
    border-radius: 2px;
}

.form #filter .ui-slider .ui-slider-range {
    position: absolute;
    top: 0;
    height: 100%;
    background: #46c2d2;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    border: 0;
    border-radius: 2px;
    z-index: 1;
}

.form #filter .ui-slider .ui-slider-handle {
    position: absolute;
    top: -2px;
    width: 11px;
    height: 11px;
    margin: 0 0 0 -5px;
    background: #005a69;
    border: 0;
    border-radius: 100%;
    z-index: 2;
}

.form #filter .ui-slider .ui-slider-handle:nth-child(2) {
    background: url(../images/slider-from.png);
}

.form #filter .ui-slider .ui-slider-handle:nth-child(3) {
    background: url(../images/slider-to.png);
}

/**
 * Footer
 */

.register_email_container {
    padding: 25px 0 0 0;
}