#overview #calendar {
    width: 440px;
    max-width: 440px;
}

#overview #calendar .ui-datepicker-inline {
    width: 100% !important;
    float: none;
}

#overview #calendar .ui-datepicker.ui-datepicker-inline {
    max-width: 100%;
}

#overview #calendar .ui-datepicker.ui-widget-content {
    display: block;
    padding: 0;
    background: none;
    border: 0;
}

#overview #calendar .ui-datepicker .ui-datepicker-row-break .ui-datepicker-header {
    border: none;
}

#overview #calendar .ui-datepicker > .ui-datepicker-header {
    display: block;
}

#overview #calendar .ui-datepicker-row-break {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ebecec;
}

#overview #calendar .ui-datepicker-multi .ui-datepicker-group table {
    width: 100%;
    margin: 0;
}

#overview #calendar .ui-datepicker .ui-datepicker-header {
    height: auto;
    font: italic 400 18px/24px "Asap", Arial;
    text-align: left;
    color: #000;
    padding: 10px 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#overview #calendar .ui-datepicker-group {
    float: none;
}

#overview #calendar .ui-datepicker th {
    height: 24px;
    font: italic 400 15px/24px "Asap", Arial;
    color: #969696;
    padding: 1px;
    background: -moz-linear-gradient(top, #ebecec 50%, #e4e5e5 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ebecec), color-stop(50%,#e4e5e5));
    background: -webkit-linear-gradient(top, #ebecec 50%,#e4e5e5 50%);
    background: -o-linear-gradient(top, #ebecec 50%,#e4e5e5 50%);
    background: -ms-linear-gradient(top, #ebecec 50%,#e4e5e5 50%);
    background: linear-gradient(to bottom, #ebecec 50%,#e4e5e5 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebecec", endColorstr="#e4e5e5",GradientType=0);
    border-left: 1px solid #fff;
}

#overview #calendar .ui-datepicker td {
    width: 14.28%;
    padding: 1px;
}

#overview #calendar .ui-datepicker td > a, #overview #calendar .ui-datepicker td > span {
    background-image: url('/bundles/zizooboat/images/sprite.png');
    border: none !important;
    background-repeat: no-repeat;

    display: block;
    position: relative;
    min-height: 40px;
    font: italic 12px/14px "Asap", Arial;
    text-align: left;
    color: #fff;
    padding: 4px;
    /*background: #47c2d2;*/
    border: 3px solid #47c2d2;
    -webkit-transition: color 200ms ease, border 200ms ease, background-color 200ms ease;
    transition: color 200ms ease, border 200ms ease, background-color 200ms ease;

}

/**** FULL DAYS ****/
        
#overview #calendar .ui-datepicker td .day_available {
    background-position: 0 -197px;
}

#overview #calendar .ui-datepicker td .day_reserved {
    background-position: -62px -197px;
}

#overview #calendar .ui-datepicker td .day_requested {
    background-position: -124px -197px;
}

#overview #calendar .ui-datepicker td .day_unavailable {
    background-position: -187px -197px;
}

#overview #calendar .ui-datepicker td .day_booked {
    background-position: -249px -197px;
}


/** Available - ? transitions */
#overview #calendar .ui-datepicker td .day_available-day_reserved {
    background-position: 0 0;
}

#overview #calendar .ui-datepicker td .day_available-day_requested {
    background: 0 -49px;
}

#overview #calendar .ui-datepicker td .day_available-day_unavailable {
    background-position:  0 -99px;
}

#overview #calendar .ui-datepicker td .day_available-day_booked {
    background-position: 0 -148px;
}


/** Reserved - ? transitions */
#overview #calendar .ui-datepicker td .day_reserved-day_available {
    background-position: -62px 0;
}

#overview #calendar .ui-datepicker td .day_reserved-day_requested {
    background: -62px -49px;
}

#overview #calendar .ui-datepicker td .day_reserved-day_unavailable {
    background-position:  -62px -99px;
}

#overview #calendar .ui-datepicker td .day_reserved-day_booked {
    background-position: -62px -148px;
}


/** Requested - ? transitions */
#overview #calendar .ui-datepicker td .day_requested-day_available {
    background-position: -124px 0;
}

#overview #calendar .ui-datepicker td .day_requested-day_reserved {
    background: -124px -49px;
}

#overview #calendar .ui-datepicker td .day_requested-day_unavailable {
    background-position:  -124px -99px;
}

#overview #calendar .ui-datepicker td .day_requested-day_booked {
    background-position: -124px -148px;
}


/** Unavailable - ? transitions */
#overview #calendar .ui-datepicker td .day_unavailable-day_available {
    background-position: -187px 0;
}

#overview #calendar .ui-datepicker td .day_unavailable-day_reserved {
    background: -187px -49px;
}

#overview #calendar .ui-datepicker td .day_unavailable-day_requested {
    background-position:  -187px -99px;
}

#overview #calendar .ui-datepicker td .day_unavailable-day_booked {
    background-position: -187px -148px;
}


/** Booked - ? transitions */
#overview #calendar .ui-datepicker td .day_booked-day_available {
    background-position: -249px 0;
}

#overview #calendar .ui-datepicker td .day_booked-day_reserved {
    background: -249px -49px;
}

#overview #calendar .ui-datepicker td .day_booked-day_requested {
    background-position:  -249px -99px;
}

#overview #calendar .ui-datepicker td .day_booked-day_unavailable {
    background-position: -249px -148px;
}

#overview #calendar .ui-datepicker td a.ui-state-active {
    background: #005a69;
    border-color: #005a69;
}

#overview #calendar .ui-datepicker td span.ui-datepicker-other-month {
    display: none;
    background: none;
    border-color: transparent;
}

#overview #calendar .ui-datepicker td .day_price {
    position: absolute;
    left: 4px;
    bottom: 4px;
    font-weight: 700;
    text-align: left;
    padding: 0;
    border: 0;
}


#calendar-container {
    position: relative;
}

#availability-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}

#availability-legend .key {
    background: none repeat scroll 0 0 transparent;
    border: 3px solid;
    display: block;
    min-height: 40px;
    min-width: 60px;
    padding: 4px;
    position: relative;
}

#availability-legend .key .day_price_icon {
    position: absolute;
    right: 4px;
    top: 2px;
}

#availability-legend .key .day_price {
    bottom: 4px;
    font-weight: 700;
    left: 4px;
    padding: 0;
    position: absolute;
    text-align: left;
}

#availability-legend #availability-legend-available {
    background-color: #47C2D2;
    border-color: #47C2D2;
    color: #FFFFFF;
}

#availability-legend #availability-legend-unavailable {
    background-color: #F1665E;
    border-color: #F1665E;
    color: #FFFFFF;
}