{% block profile %}
<article class="user">
    <header>
        <h2>{{ user.username }}</h2>
    </header>
</article>

<section class="details" id="details">
    <h3>{{ user.username }}</h3>
    <p>E-mail: {{ user.email }}</p>
</section>
{% endblock %} 
