{% block subject %}
You have made a booking on Zizoo
{% endblock %}
{% block body_text %}
Your new booking:
{{booking}}
{% endblock %}
{% block body_html %}
<p>Your new booking:</p>
<p>{{booking}}</p>
{% endblock %}


