{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}

{% block dashboard_page_title %}Deny Reservation{% endblock %}

{% block content %}
    <div class="deny_reservation" id="{% if ajax %}deny_reservation_inner_ajax{% else %}deny_reservation_inner{% endif %}">
        <form action="{{ path('ZizooReservationBundle_deny', {id: reservation.id}) }}" method="post" novalidate="novalidate">
            {{ form_widget(form) }}
            <input type="submit" name="deny" value="Deny" />
        </form>
        <form action="{{ path('ZizooReservationBundle_view', {id: reservation.id}) }}" method="post">
            <input type="submit" name="cancel" value="Cancel" />
        </form>
    </div>
{% endblock %}