{% extends 'ZizooBaseBundle:Dashboard:base.html.twig' %}

{% block dashboard_page_title %}Edit Boat{% endblock %}

{% block content %}

    {% include 'ZizooBaseBundle:Dashboard:Boat/boat_navigation.html.twig' with { 'boat': boat }  %}

    <div id="edit-boat">
        <h3>Boat Details</h3>
        {% render 'ZizooBoatBundle:Boat:boatFormWidget' with { 'boat': boat, 'formAction': formAction, 'formRedirect': formRedirect } %}
    </div>

{% endblock %}