{% block subject %}
Confirm Zizoo Charter registration
{% endblock %}
{% block body_text %}
Please confirm your charter registration at: {{link}}
{% endblock %}
{% block body_html %}
<p>Please confirm your charter registration: <a href="{{link}}">confirm</a></p>
{% endblock %}


