{% block subject %}
You have been invited to join Zizoo
{% endblock %}
{% block body_text %}
{{sender.username}} has invited you to join Zizoo:
{{link}}
{% endblock %}
{% block body_html %}
<p>{{sender.username}} has invited you to <a href="{{ link }}">join Zizoo</a></p>
{% endblock %}


