{% block subject %}
Confirm Zizoo new password
{% endblock %}
{% block body_text %}
You new password is {{pass}} 

You can log in and change it if you wish.
{% endblock %}
{% block body_html %}
<p>Your new password is {{pass}}</p>
<p>You can log in and change it if you wish.</p>
{% endblock %}


