{% block subject %}
Welcome to Zizoo
{% endblock %}
{% block body_text %}
Welcome to Zizoo! You can now login at: {{link}}
{% endblock %}
{% block body_html %}
<p>Welcome to Zizoo!</p>
<p>You can now <a href="{{link}}">log in</a></p>
{% endblock %}


