{% extends 'ZizooMessageBundle:Email:email_base.txt.twig' %}


{% block subject %}
Welcome to Zizoo
{% endblock %}

{% block body_html %}
<p>Welcome to Zizoo!</p>
<p>You can now <a href="{{link}}">log in</a></p>
{% endblock %}


