<div>
    
    <!-- start:view -->
    <div id="view" class="clearfix">
        {{ pagination.setTemplate('ZizooBaseBundle:Elements:pagination_sliding_search.html.twig') }}
        {{ knp_pagination_render(pagination) }}
    </div>
    <!-- end:view -->
                
    <div class="tabbed">
    {% include "ZizooAddressBundle:Address:boats_grid.html.twig" with {'pagination': pagination } %}
    {% include "ZizooAddressBundle:Address:boats_list.html.twig" with {'pagination': pagination } %}
    </div>
    <div id="results-navigation">
    {{ pagination.setTemplate('ZizooBaseBundle:Elements:pagination_sliding.html.twig') }}
    {{ knp_pagination_render(pagination) }}
    </div>
</div>