{# src/Zizoo/UserBundle/Resources/views/User/change_password.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage}}
        </div>
    {% endfor %}

    <form novalidate="novalidate" action="{{ path('ZizooUserBundle_change_password')}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
{% endblock %}