{# src/Zizoo/UserBundle/Resources/views/User/forgot_password.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <form novalidate="novalidate" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
{% endblock %}