{# src/Zizoo/UserBundle/Resources/views/User/forgot_password.html.twig #}
{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <div class="forgot_password" id="{% if ajax %}forgot_password_inner_ajax{% else %}forgot_password_inner{% endif %}">
        <form novalidate="novalidate" method="post" {{ form_enctype(form) }} class="forgot_password_form">
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}