{# src/Zizoo/UserBundle/Resources/views/User/login.html.twig #}
{% trans_default_domain "labels" %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <div class="login">
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">{% trans %}zizoo_user.label.username_or_email{% endtrans %}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">{% trans %}zizoo_user.label.password{% endtrans %}:</label>
            <input type="password" id="password" name="_password" />

            <label for="remember_me">{% trans %}zizoo_user.label.remember_me{% endtrans %}:</label>
            <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" />
            <br />
            {#
                If you want to control the URL the user is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">{% trans %}zizoo_user.label.login{% endtrans %}</button>
        </form>

        <button type="submit" class="login_facebook_btn" href="{{ facebook.loginUrl({ scope: 'email', redirect_uri: url('login_facebook', {forward: current_route}), display: 'popup' }) }}">Login with FACEBOOK</button>
        
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.login_facebook_btn').click(function(){
                //top.location.href = $(this).attr('href');
                window.open($(this).attr('href'), 'Login with Facebook', "height=200,width=200");
            });
        });
    </script>
    
{% endblock %}
