{% extends 'ZizooUserBundle::layout.html.twig' %}

{% block body %}
    <div class="forgot_password" id="{% if ajax %}forgot_password_inner_ajax{% else %}forgot_password_inner{% endif %}">
        <p>An email has been sent to you. Please click the link to get a new password.</p>
    </div>
{% endblock %}


