    <div>
        <div class="open_message" id="{% if ajax %}open_received_message_inner_ajax{% else %}open_received_message_inner{% endif %}">
            
            <div id="thread">
                {% for m in thread %}
                    <div class="message{% if m.id == message.id %} current {% endif %}" id="message_{{ m.id}}">
                        <div class="details">
                            <div class="sender">{{ m|threadDisplay(profile) }}</div>
                            <div class="date">{{ m.sent|date }}</div>
                        </div>
                        <div class="content">{{ m.body }}</div>
                        <div style="clear: both"></div>
                    </div>
                {% endfor %}
            </div>

            {% render 'ZizooMessageBundle:Message:sendMessage' with {to: to, lastMessageId: last_message_id, ajax: true, redirect: redirect} %}
            

        </div>
    </div>
